<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conf_files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/crypttab</string>
			<key>sha256</key>
			<string>3698c87cc3af757f0302f6d7f034350b1b22a7f25b2f71944292d0fb3de67cd7</string>
			<key>size</key>
			<integer>586</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/fstab</string>
			<key>sha256</key>
			<string>8b488ee7c3052bf97bc4d5da2007421178b08a2eb4ebb8fc2e5b7728bed74069</string>
			<key>size</key>
			<integer>126</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/group</string>
			<key>sha256</key>
			<string>805a149818f36cefef862c6d891a68e0b9920d977cae287856896385158d7f6d</string>
			<key>size</key>
			<integer>351</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/host.conf</string>
			<key>sha256</key>
			<string>f21f35e7d3083aeee19beb48478130d119b2572922a4889df98326d551540eda</string>
			<key>size</key>
			<integer>63</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/hosts</string>
			<key>sha256</key>
			<string>305d8ae7e488e1463c336a071267e7fbff78639aebed84a4c3d3ad14538fb953</string>
			<key>size</key>
			<integer>212</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/inputrc</string>
			<key>sha256</key>
			<string>d23eba72cd72037b1106b73c6e7c11a101bc7ba09cb25f9ee7157b792c528f09</string>
			<key>size</key>
			<integer>1721</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/issue</string>
			<key>sha256</key>
			<string>074b0a588b17a71ab81fa31323280e6aa7124a896e6d372f590bbfe6119ea4db</string>
			<key>size</key>
			<integer>19</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/nsswitch.conf</string>
			<key>sha256</key>
			<string>1d5baea85deb6d75493646246499dc2d7ced96ef06b4df53aa2d07068ec72b9c</string>
			<key>size</key>
			<integer>216</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/passwd</string>
			<key>sha256</key>
			<string>745770f9b456986983ab77c7bcfa0804ee3b3ddbf555fc7df8ceecb06cf61094</string>
			<key>size</key>
			<integer>86</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/profile</string>
			<key>sha256</key>
			<string>c5a888932102d30c5fe6950bdbcc25491db94cf3d6e21fafd52e0b6e6509bdda</string>
			<key>size</key>
			<integer>617</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/securetty</string>
			<key>sha256</key>
			<string>7e47176cd83b91bdbc3a0b10ae5d5c093b81a9c8c0c1fb714f5438381124c760</string>
			<key>size</key>
			<integer>144</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/skel/.bash_logout</string>
			<key>sha256</key>
			<string>2584c4ba8b0d2a52d94023f420b7e356a1b1a3f2291ad5eba06683d58c48570d</string>
			<key>size</key>
			<integer>18</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/skel/.bash_profile</string>
			<key>sha256</key>
			<string>437c9e8603ee8ba72730765c45b90871138410a4bffa83ae4029d6a4a5a2330d</string>
			<key>size</key>
			<integer>89</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/skel/.bashrc</string>
			<key>sha256</key>
			<string>22a4fb5d548da0d5cd13945c3bb32b8283b45fa59f675ae00e97d156c58c8017</string>
			<key>size</key>
			<integer>135</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/skel/.inputrc</string>
			<key>sha256</key>
			<string>82f0b90d9dd7aa6ed897b04037fde02d102f5f7640cb09eceb070427a32df4d7</string>
			<key>size</key>
			<integer>22</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/subgid</string>
			<key>sha256</key>
			<string>b93d13b3e70f9fd27fe8078fef865243768a5e9e2b6dc355a76bdfde1220eb75</string>
			<key>size</key>
			<integer>19</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/subuid</string>
			<key>sha256</key>
			<string>b93d13b3e70f9fd27fe8078fef865243768a5e9e2b6dc355a76bdfde1220eb75</string>
			<key>size</key>
			<integer>19</integer>
		</dict>
	</array>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/colors</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/ld.so.conf.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/profile.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/skel</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/dracut</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/dracut/dracut.conf.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/modprobe.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sysctl.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/udev</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/udev/rules.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib32</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/zsh</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/zsh/site-functions</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/colors/DIR_COLORS</string>
			<key>sha256</key>
			<string>375a0e8f40078bffafc0248a08c91350dfe0185e5d0a44055acd3810a14d77ca</string>
			<key>size</key>
			<integer>3921</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/colors/DIR_COLORS.256color</string>
			<key>sha256</key>
			<string>1be22fe624dc497a37d2920eb398717880caa019f212519059449db3104eb911</string>
			<key>size</key>
			<integer>4934</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/colors/DIR_COLORS.xterm</string>
			<key>sha256</key>
			<string>8f203351a7ada8486e5f89f75c78e5127bccda7bea2acbbea807c6ad91a485b5</string>
			<key>size</key>
			<integer>3646</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/ld.so.conf.d/lib32.conf</string>
			<key>sha256</key>
			<string>c27424154a6096ae32c0824b785e05de6acef33d9224fd6147d1936be9b4962b</string>
			<key>size</key>
			<integer>11</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/profile.d/colorls.sh</string>
			<key>sha256</key>
			<string>8f24a31515706da5708868cfb21f41cb44b2bef8794b0a305ff5368e6847eca1</string>
			<key>size</key>
			<integer>1160</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/profile.d/locale.sh</string>
			<key>sha256</key>
			<string>ce9a6737e5211173c4534c494da6d57af1fa0299adc2b45439a492fdce6ccb78</string>
			<key>size</key>
			<integer>448</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/profile.d/mozplugin.sh</string>
			<key>sha256</key>
			<string>931eaa2e98c142f1301c3d3e010427b14c4f7ff7b89ff3debafda2ef36cba1b9</string>
			<key>size</key>
			<integer>61</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/lsb_release</string>
			<key>sha256</key>
			<string>48d9688a168b9839bc1ad5e51cfa1b2876be1d40293a62acc3da54e634c7390c</string>
			<key>size</key>
			<integer>2495</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/vkpurge</string>
			<key>sha256</key>
			<string>1a2a73422222adfd0875930cbadebe9c7514ae7c05fed08ab82931324b5876db</string>
			<key>size</key>
			<integer>2000</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/dracut/dracut.conf.d/00-void.conf</string>
			<key>sha256</key>
			<string>e6da9e18c320ca1cd7a702afbace74b7cbdc07538cea486fbf96be6d37881867</string>
			<key>size</key>
			<integer>150</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/modprobe.d/blacklist.conf</string>
			<key>sha256</key>
			<string>82c818f28a13e7c4969c40e9f1142a838b934c28396f56d2fa64b9bfff0753b9</string>
			<key>size</key>
			<integer>702</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/modprobe.d/usb-load-ehci-first.conf</string>
			<key>sha256</key>
			<string>90fb123aa8c0176bc144322b585bb889181c437542ddbe546af43e11b95be6ab</string>
			<key>size</key>
			<integer>62</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/os-release</string>
			<key>sha256</key>
			<string>380b4bbafac09728ae1dc2c3bd2a34a7f8de324bb69ea61fc6db18626bb43aa5</string>
			<key>size</key>
			<integer>195</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sysctl.d/10-void-user.conf</string>
			<key>sha256</key>
			<string>a00931291228b67f8eeb5ad35eca818897d843fd9b2686426b10cf9cd9787dc2</string>
			<key>size</key>
			<integer>558</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sysctl.d/10-void.conf</string>
			<key>sha256</key>
			<string>e1f592e55606d929301dd6e92f4baccc2c9ede653dd5307109caf7c3503eb94c</string>
			<key>size</key>
			<integer>458</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sysctl.d/20-bpf.conf</string>
			<key>sha256</key>
			<string>ef3100c48ccc667af46e42f869e0424df7baf458cec836717953e60627f78a1f</string>
			<key>size</key>
			<integer>68</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/udev/rules.d/66-kvm.rules</string>
			<key>sha256</key>
			<string>9d1cbf15870a4565b5c596548c68e1af99628d25bb60971b21f4b0b0515a99f1</string>
			<key>size</key>
			<integer>68</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/udev/rules.d/90-usbmon.rules</string>
			<key>sha256</key>
			<string>31310c5e45835563ee9daba99bc09849cc004e8d9c712d0860211d5fa5563bcb</string>
			<key>size</key>
			<integer>48</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/Apache-2.0</string>
			<key>sha256</key>
			<string>cfc7749b96f63bd31c3c42b5c471bf756814053e847c10f3eb003417bc523d30</string>
			<key>size</key>
			<integer>11358</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/Artistic</string>
			<key>sha256</key>
			<string>b7fd9b73ea99602016a326e0b62e6646060d18febdd065ceca8bb482208c3d88</string>
			<key>size</key>
			<integer>6111</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/BSD</string>
			<key>sha256</key>
			<string>5d588eb3b157d52112afea935c88a7ff9efddc1e2d95a42c25d3b96ad9055008</string>
			<key>size</key>
			<integer>1499</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/GFDL-1.2</string>
			<key>sha256</key>
			<string>56976e64523fa1e68db4e6f464f5b2cb89d7d08f54b1d012e317b8db286b3faf</string>
			<key>size</key>
			<integer>20431</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/GFDL-1.3</string>
			<key>sha256</key>
			<string>4748f03ed2dbcc14cde6ebc30799899c403e356a7465dc30fcf2b80c45fc0059</string>
			<key>size</key>
			<integer>22962</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/GPL-1</string>
			<key>sha256</key>
			<string>6c9f0dc14f36af0214ee8126b1e459cd0ff6008c299471ce8f3446eb47473c2e</string>
			<key>size</key>
			<integer>12631</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/GPL-2</string>
			<key>sha256</key>
			<string>8177f97513213526df2cf6184d8ff986c675afb514d4e68a404010521b880643</string>
			<key>size</key>
			<integer>18092</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/GPL-3</string>
			<key>sha256</key>
			<string>8ceb4b9ee5adedde47b31e975c1d90c73ad27b6b165a1dcd80c7c545eb65b903</string>
			<key>size</key>
			<integer>35147</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/LGPL-2</string>
			<key>sha256</key>
			<string>b7993225104d90ddd8024fd838faf300bea5e83d91203eab98e29512acebd69c</string>
			<key>size</key>
			<integer>25383</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/LGPL-2.1</string>
			<key>sha256</key>
			<string>dc626520dcd53a22f727af3ee42c770e56c97a64fe3adb063799d8ab032fe551</string>
			<key>size</key>
			<integer>26530</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/LGPL-3</string>
			<key>sha256</key>
			<string>da7eabb7bafdf7d3ae5e9f223aa5bdc1eece45ac569dc21b3b037520b4464768</string>
			<key>size</key>
			<integer>7651</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/MPL-1.1</string>
			<key>sha256</key>
			<string>53692a2ed6c6a2c6ec9b32dd0b820dfae91e0a1fcdf625ca9ed0bdf8705fcc4f</string>
			<key>size</key>
			<integer>25755</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/MPL-2.0</string>
			<key>sha256</key>
			<string>1f256ecad192880510e84ad60474eab7589218784b9a50bc7ceee34c2b91f1d5</string>
			<key>size</key>
			<integer>16725</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/OFL-1.1</string>
			<key>sha256</key>
			<string>ca122f3bda0154f692817450168cb650a7fc59ef96c93582acd2e7a744d464d3</string>
			<key>size</key>
			<integer>4696</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/vkpurge.8</string>
			<key>sha256</key>
			<string>321f94e0802f9999cb9f9681c50d7b9503f4c38db5730cadce05c96171873f41</string>
			<key>size</key>
			<integer>1425</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/zsh/site-functions/_vkpurge</string>
			<key>sha256</key>
			<string>c04811b5c931dcbd1a40f47d1c3fe8d2b1d3f5efd1d647e902e075cc32aabc60</string>
			<key>size</key>
			<integer>603</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/bin</string>
			<key>target</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/mtab</string>
			<key>target</key>
			<string>/proc/self/mounts</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/os-release</string>
			<key>target</key>
			<string>/usr/lib/os-release</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/lib</string>
			<key>target</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/lib32</string>
			<key>target</key>
			<string>/usr/lib32</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/lib64</string>
			<key>target</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/sbin</string>
			<key>target</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib32/locale</string>
			<key>target</key>
			<string>../lib/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib64</string>
			<key>target</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/sbin</string>
			<key>target</key>
			<string>/usr/bin</string>
		</dict>
	</array>
</dict>
</plist>
