<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/bzdiff</string>
			<key>mtime</key>
			<integer>1685349361</integer>
			<key>sha256</key>
			<string>1c1f96193cdf14b85ea65f140a7557a07ece8783a53ec5ba6b5c30644a9d3012</string>
			<key>size</key>
			<integer>2140</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/bzgrep</string>
			<key>mtime</key>
			<integer>1685349361</integer>
			<key>sha256</key>
			<string>a8e368a31766c7862b8d0feeffe274c3bb43b969e3ccb4f9e77d13bfa447a5c9</string>
			<key>size</key>
			<integer>2054</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/bzip2</string>
			<key>mtime</key>
			<integer>1685349361</integer>
			<key>sha256</key>
			<string>0cde7883dc40114798e4e16eac24c05c82e2de7c152343ac064bae695986f750</string>
			<key>size</key>
			<integer>39152</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/bzip2recover</string>
			<key>mtime</key>
			<integer>1685349361</integer>
			<key>sha256</key>
			<string>bb31b942f1d332fc6f2b8e50b8f3a0769198d806836815e8142f9c422dfd8eba</string>
			<key>size</key>
			<integer>14504</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/bzmore</string>
			<key>mtime</key>
			<integer>1685349361</integer>
			<key>sha256</key>
			<string>836536d4c7469788c730355d59f8ae8d16ba07cb0754174878d99ed90f04448d</string>
			<key>size</key>
			<integer>1259</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libbz2.so.1.0.8</string>
			<key>mtime</key>
			<integer>1685349361</integer>
			<key>sha256</key>
			<string>d12f96568fb0ae85556b36e7cbbeffdba7026e7a4055ca2f0dc7e61dc4952c39</string>
			<key>size</key>
			<integer>75176</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/bzip2.1</string>
			<key>mtime</key>
			<integer>1685349361</integer>
			<key>sha256</key>
			<string>27b984bb2e8bbee2651d11cda87449cfc4138d2e479b9eaa77b8f60fa5d0bf5d</string>
			<key>size</key>
			<integer>16266</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/bunzip2</string>
			<key>mtime</key>
			<integer>1685349361</integer>
			<key>target</key>
			<string>/usr/bin/bzip2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/bzcat</string>
			<key>mtime</key>
			<integer>1685349361</integer>
			<key>target</key>
			<string>/usr/bin/bzip2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libbz2.so.1</string>
			<key>mtime</key>
			<integer>1685349361</integer>
			<key>target</key>
			<string>/usr/lib/libbz2.so.1.0.8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libbz2.so.1.0</string>
			<key>mtime</key>
			<integer>1685349361</integer>
			<key>target</key>
			<string>/usr/lib/libbz2.so.1.0.8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/bunzip2.1</string>
			<key>mtime</key>
			<integer>1685349361</integer>
			<key>target</key>
			<string>/usr/share/man/man1/bzip2.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/bzcat.1</string>
			<key>mtime</key>
			<integer>1685349361</integer>
			<key>target</key>
			<string>/usr/share/man/man1/bzip2.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/bzip2recover.1</string>
			<key>mtime</key>
			<integer>1685349361</integer>
			<key>target</key>
			<string>/usr/share/man/man1/bzip2.1</string>
		</dict>
	</array>
</dict>
</plist>
