<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/dash</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/dash</string>
			<key>sha256</key>
			<string>1c049e266af158eaaa40a15a3b6ea8e99389fb63845bca6b38fc44f2ee2d54b5</string>
			<key>size</key>
			<integer>129856</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/dash/COPYING</string>
			<key>sha256</key>
			<string>254a7894923ff62e69184a991dcbccae97edee58a1105e8efbe78caf10595d72</string>
			<key>size</key>
			<integer>2689</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/dash.1</string>
			<key>sha256</key>
			<string>13c467d8bb21973c6045c3cc67988a04ec27d5d35a12844295f22058c2bb9452</string>
			<key>size</key>
			<integer>66778</integer>
		</dict>
	</array>
</dict>
</plist>
