<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/dmeventd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/dmeventd/log</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/device-mapper</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/udev</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/udev/rules.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/sv/dmeventd/log/run</string>
			<key>mtime</key>
			<integer>1734645632</integer>
			<key>sha256</key>
			<string>916a53d36abf8f293678b022389e1496feee842145a78ba9f919490b9e547c01</string>
			<key>size</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/dmeventd/run</string>
			<key>mtime</key>
			<integer>1734645632</integer>
			<key>sha256</key>
			<string>5b95dc7dbfc4a16fd6962ecd5d3f63e2dd1738017de550382a29bfb43364ddb1</string>
			<key>size</key>
			<integer>37</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/dmeventd</string>
			<key>mtime</key>
			<integer>1734645632</integer>
			<key>sha256</key>
			<string>7f7857475ed75012f1e587afa7ccc409105d8bad7a2b09286f3f445598338b71</string>
			<key>size</key>
			<integer>51488</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/dmsetup</string>
			<key>mtime</key>
			<integer>1734645632</integer>
			<key>sha256</key>
			<string>506ccd7652e53c7203106957481d217d2fe2f62896f025a5dc7becf4538e8ba9</string>
			<key>size</key>
			<integer>153856</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/device-mapper/libdevmapper-event-lvm2mirror.so</string>
			<key>mtime</key>
			<integer>1734645632</integer>
			<key>sha256</key>
			<string>507beea9c5cac7a88214b58f997f06fefa27e74438f7fb80be3fc656f6531b08</string>
			<key>size</key>
			<integer>14416</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/device-mapper/libdevmapper-event-lvm2raid.so</string>
			<key>mtime</key>
			<integer>1734645632</integer>
			<key>sha256</key>
			<string>bfb4e1f1a121332f76bd87849b95d393de18e59ddde8f16c329918b77ad4bdd1</string>
			<key>size</key>
			<integer>14416</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/device-mapper/libdevmapper-event-lvm2snapshot.so</string>
			<key>mtime</key>
			<integer>1734645632</integer>
			<key>sha256</key>
			<string>93b77b8f3327bf11e0b4eaaa3233c0ce4c0282e537ebcb80c53e750c57b61890</string>
			<key>size</key>
			<integer>14416</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/device-mapper/libdevmapper-event-lvm2thin.so</string>
			<key>mtime</key>
			<integer>1734645632</integer>
			<key>sha256</key>
			<string>800cc20f4003d4d0316849a14ca14e93ec78fcd4d1934f80dc46c5e02c77e6ab</string>
			<key>size</key>
			<integer>22608</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/device-mapper/libdevmapper-event-lvm2vdo.so</string>
			<key>mtime</key>
			<integer>1734645632</integer>
			<key>sha256</key>
			<string>aca327e76a74b64b689f803cce92b28bb61659de523f6d506ea64ade9f8bf450</string>
			<key>size</key>
			<integer>22608</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libdevmapper-event-lvm2.so.2.03</string>
			<key>mtime</key>
			<integer>1734645632</integer>
			<key>sha256</key>
			<string>47875e492641a9e8fc13bd9db5d67a6f3a8e1771c49201f222dee07f031bc50f</string>
			<key>size</key>
			<integer>14456</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libdevmapper-event.so.1.02</string>
			<key>mtime</key>
			<integer>1734645632</integer>
			<key>sha256</key>
			<string>205bcecea5489321d08be0423438e7cd1266b71cb9bd1d40b6ec820f61f07eeb</string>
			<key>size</key>
			<integer>30800</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libdevmapper.so.1.02</string>
			<key>mtime</key>
			<integer>1734645632</integer>
			<key>sha256</key>
			<string>730bded27d31931d6dee6ec8f03d4623b3c431c68c5c2d67894b5b396bb70158</string>
			<key>size</key>
			<integer>366904</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/liblvm2cmd.so.2.03</string>
			<key>mtime</key>
			<integer>1734645632</integer>
			<key>sha256</key>
			<string>9875e393fbd25734b76c11753e68b4181c01937413b1b1e7d6af6f23b310a989</string>
			<key>size</key>
			<integer>2474376</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/udev/rules.d/10-dm.rules</string>
			<key>mtime</key>
			<integer>1734645632</integer>
			<key>sha256</key>
			<string>4e08496a3e8664349ed551fc5eee0dd4182fd58e7c5cb0d6613901a3eb471fe0</string>
			<key>size</key>
			<integer>8516</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/udev/rules.d/13-dm-disk.rules</string>
			<key>mtime</key>
			<integer>1734645632</integer>
			<key>sha256</key>
			<string>4ed1038938490e34147710cb4eba2ce11aad75942bf75e0c6bcc1ff24c78fbc2</string>
			<key>size</key>
			<integer>2248</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/udev/rules.d/95-dm-notify.rules</string>
			<key>mtime</key>
			<integer>1734645632</integer>
			<key>sha256</key>
			<string>178166828c9ef2a88d9dde7fcaf12b1944df2fbda2188fe0e062d84fd060117e</string>
			<key>size</key>
			<integer>482</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/dmeventd.8</string>
			<key>mtime</key>
			<integer>1734645632</integer>
			<key>sha256</key>
			<string>ab9bc691c9990c5d0390d8b1a5a3ffbedf30a4ca452d4c694a0becfde48f5691</string>
			<key>size</key>
			<integer>5849</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/dmsetup.8</string>
			<key>mtime</key>
			<integer>1734645632</integer>
			<key>sha256</key>
			<string>e8c46875032830e117ae7c18665892e7ec510779b34885cfef70854b6ef4ff94</string>
			<key>size</key>
			<integer>26580</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/dmstats.8</string>
			<key>mtime</key>
			<integer>1734645632</integer>
			<key>sha256</key>
			<string>ce142fbbdabb246f92975bcf2c157a153b0e6efb915b14e57d7b31a3c710ea93</string>
			<key>size</key>
			<integer>37354</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/sv/dmeventd/log/supervise</string>
			<key>mtime</key>
			<integer>1734645632</integer>
			<key>target</key>
			<string>/run/runit/supervise.dmeventd-log</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/dmeventd/supervise</string>
			<key>mtime</key>
			<integer>1734645632</integer>
			<key>target</key>
			<string>/run/runit/supervise.dmeventd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/dmstats</string>
			<key>mtime</key>
			<integer>1734645632</integer>
			<key>target</key>
			<string>/usr/bin/dmsetup</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libdevmapper-event-lvm2mirror.so</string>
			<key>mtime</key>
			<integer>1734645632</integer>
			<key>target</key>
			<string>/usr/lib/device-mapper/libdevmapper-event-lvm2mirror.so</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libdevmapper-event-lvm2raid.so</string>
			<key>mtime</key>
			<integer>1734645632</integer>
			<key>target</key>
			<string>/usr/lib/device-mapper/libdevmapper-event-lvm2raid.so</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libdevmapper-event-lvm2snapshot.so</string>
			<key>mtime</key>
			<integer>1734645632</integer>
			<key>target</key>
			<string>/usr/lib/device-mapper/libdevmapper-event-lvm2snapshot.so</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libdevmapper-event-lvm2thin.so</string>
			<key>mtime</key>
			<integer>1734645632</integer>
			<key>target</key>
			<string>/usr/lib/device-mapper/libdevmapper-event-lvm2thin.so</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libdevmapper-event-lvm2vdo.so</string>
			<key>mtime</key>
			<integer>1734645632</integer>
			<key>target</key>
			<string>/usr/lib/device-mapper/libdevmapper-event-lvm2vdo.so</string>
		</dict>
	</array>
</dict>
</plist>
