<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/fatlabel</string>
			<key>mtime</key>
			<integer>1613334985</integer>
			<key>sha256</key>
			<string>6d2153a359129e982513280351fced9152a59297d27ec07fe3de581404986178</string>
			<key>size</key>
			<integer>51344</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/fsck.fat</string>
			<key>mtime</key>
			<integer>1613334985</integer>
			<key>sha256</key>
			<string>40c5ac2e81af2c20751222124dd2bd8402216d733bf9003c80acec67e8dfc8b9</string>
			<key>size</key>
			<integer>84112</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mkfs.fat</string>
			<key>mtime</key>
			<integer>1613334985</integer>
			<key>sha256</key>
			<string>01d073d93fa02464f43e4958f09d2183930ff796ffdade708db2ca33701fce74</string>
			<key>size</key>
			<integer>64176</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/fatlabel.8</string>
			<key>mtime</key>
			<integer>1613334985</integer>
			<key>sha256</key>
			<string>a3c8e2b36e5600f5a63f9abc45c7c8abb92ccffc7be1add1778a64a7c76a4b66</string>
			<key>size</key>
			<integer>7147</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/fsck.fat.8</string>
			<key>mtime</key>
			<integer>1613334985</integer>
			<key>sha256</key>
			<string>f0be53124dbc1c6e71b47b847c34ebeec3dede828f6b62a77c74f559d2e25b79</string>
			<key>size</key>
			<integer>10629</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/mkfs.fat.8</string>
			<key>mtime</key>
			<integer>1613334985</integer>
			<key>sha256</key>
			<string>00ec06820217fe4a33843972297edb08b6653f85d8cb7c0fca5ab64f52f8b200</string>
			<key>size</key>
			<integer>12618</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/dosfsck</string>
			<key>mtime</key>
			<integer>1613334985</integer>
			<key>target</key>
			<string>/usr/bin/fsck.fat</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/dosfslabel</string>
			<key>mtime</key>
			<integer>1613334985</integer>
			<key>target</key>
			<string>/usr/bin/fatlabel</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/fsck.msdos</string>
			<key>mtime</key>
			<integer>1613334985</integer>
			<key>target</key>
			<string>/usr/bin/fsck.fat</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/fsck.vfat</string>
			<key>mtime</key>
			<integer>1613334985</integer>
			<key>target</key>
			<string>/usr/bin/fsck.fat</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mkdosfs</string>
			<key>mtime</key>
			<integer>1613334985</integer>
			<key>target</key>
			<string>/usr/bin/mkfs.fat</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mkfs.msdos</string>
			<key>mtime</key>
			<integer>1613334985</integer>
			<key>target</key>
			<string>/usr/bin/mkfs.fat</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mkfs.vfat</string>
			<key>mtime</key>
			<integer>1613334985</integer>
			<key>target</key>
			<string>/usr/bin/mkfs.fat</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/dosfsck.8</string>
			<key>mtime</key>
			<integer>1613334985</integer>
			<key>target</key>
			<string>/usr/share/man/man8/fsck.fat.8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/dosfslabel.8</string>
			<key>mtime</key>
			<integer>1613334985</integer>
			<key>target</key>
			<string>/usr/share/man/man8/fatlabel.8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/fsck.msdos.8</string>
			<key>mtime</key>
			<integer>1613334985</integer>
			<key>target</key>
			<string>/usr/share/man/man8/fsck.fat.8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/fsck.vfat.8</string>
			<key>mtime</key>
			<integer>1613334985</integer>
			<key>target</key>
			<string>/usr/share/man/man8/fsck.fat.8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/mkdosfs.8</string>
			<key>mtime</key>
			<integer>1613334985</integer>
			<key>target</key>
			<string>/usr/share/man/man8/mkfs.fat.8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/mkfs.msdos.8</string>
			<key>mtime</key>
			<integer>1613334985</integer>
			<key>target</key>
			<string>/usr/share/man/man8/mkfs.fat.8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/mkfs.vfat.8</string>
			<key>mtime</key>
			<integer>1613334985</integer>
			<key>target</key>
			<string>/usr/share/man/man8/mkfs.fat.8</string>
		</dict>
	</array>
</dict>
</plist>
