<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libudev.so.1.6.3</string>
			<key>mtime</key>
			<integer>1736630567</integer>
			<key>sha256</key>
			<string>3c46fd03a6e0224566142b1399fdef3fa6da630c03b35dc30b393f20fa230ea4</string>
			<key>size</key>
			<integer>162184</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libudev.so.1</string>
			<key>mtime</key>
			<integer>1736630567</integer>
			<key>target</key>
			<string>/usr/lib/libudev.so.1.6.3</string>
		</dict>
	</array>
</dict>
</plist>
