<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/fusermount</string>
			<key>mtime</key>
			<integer>1546666936</integer>
			<key>sha256</key>
			<string>e09c86a3a67ff3f9a1491c30c1f41645e09c772280a47b9ce20e4b49e43a9fbc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mount.fuse</string>
			<key>mtime</key>
			<integer>1546666936</integer>
			<key>sha256</key>
			<string>e957e4cd1e1ebec79821ae6e44ba80c6bb1853de8aec681db5bfb251cf5923fb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/ulockmgr_server</string>
			<key>mtime</key>
			<integer>1546666936</integer>
			<key>sha256</key>
			<string>b1cda58fb906db11677fb1a760d7f0ec06b16a3348c996e1338e3eb84e741184</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libfuse.so.2.9.9</string>
			<key>mtime</key>
			<integer>1546666936</integer>
			<key>sha256</key>
			<string>dc55b6c1a0fb2b7698d4d7bc9831c4aaf48eaf071f92db6eaae3539bff1cefc9</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libulockmgr.so.1.0.1</string>
			<key>mtime</key>
			<integer>1546666936</integer>
			<key>sha256</key>
			<string>1cbf1d37e5ae57f95597931775cfdcb18eb3b64fd1c34aaeed598fb23a8ace2d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/fusermount.1</string>
			<key>mtime</key>
			<integer>1546666936</integer>
			<key>sha256</key>
			<string>86bcfbd7914054addda1553f4815740ba0daaa0ee2a9deb8081a521d95f5dea6</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ulockmgr_server.1</string>
			<key>mtime</key>
			<integer>1546666936</integer>
			<key>sha256</key>
			<string>6a96152c2570c70b75c2b455e9252efb54e941a5b276c519c3fdf2b717579f73</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/mount.fuse.8</string>
			<key>mtime</key>
			<integer>1546666936</integer>
			<key>sha256</key>
			<string>61c792e4007c067e692a34a5474fc4a2ee05dba003e4ff1db331a34206208807</string>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libfuse.so.2</string>
			<key>mtime</key>
			<integer>1546666936</integer>
			<key>target</key>
			<string>/usr/lib/libfuse.so.2.9.9</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libulockmgr.so.1</string>
			<key>mtime</key>
			<integer>1546666936</integer>
			<key>target</key>
			<string>/usr/lib/libulockmgr.so.1.0.1</string>
		</dict>
	</array>
</dict>
</plist>
