<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/profile.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gawk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/awk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/awk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ka</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ka/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/profile.d/gawk.csh</string>
			<key>sha256</key>
			<string>9ba2af9853121df6dd5edff9254a2946e39eab8dc6513348fea28f739ee96648</string>
			<key>size</key>
			<integer>1107</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/profile.d/gawk.sh</string>
			<key>sha256</key>
			<string>70621a3b586d3d523b020e76977633b444a70013ba50e1ea901a3a07a676f15f</string>
			<key>size</key>
			<integer>757</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/gawk</string>
			<key>sha256</key>
			<string>ef973406f44c4c5b0ceedc733ad5634062a19702b5dd24f50715e185d4944ac3</string>
			<key>size</key>
			<integer>780744</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/gawk-5.3.2</string>
			<key>sha256</key>
			<string>ef973406f44c4c5b0ceedc733ad5634062a19702b5dd24f50715e185d4944ac3</string>
			<key>size</key>
			<integer>780744</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/gawkbug</string>
			<key>sha256</key>
			<string>8581db3f574deed720c996bdf51db0356f105b0f0fb50001664001ca2d84ff7e</string>
			<key>size</key>
			<integer>6703</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/gawkapi.h</string>
			<key>sha256</key>
			<string>e8961d2ed4c9e718d7649e28ab224911a4bbfc09421b1af52733a49cc3920b84</string>
			<key>size</key>
			<integer>42488</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gawk/filefuncs.so</string>
			<key>sha256</key>
			<string>c765f7023042c7968c62bb254c554dfd8528332cc00d15445a19c37964dd660f</string>
			<key>size</key>
			<integer>39200</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gawk/fnmatch.so</string>
			<key>sha256</key>
			<string>899ef38b5787b4a8c6408cffd5fe777083d4079da0e5ffe6e2472dbbb534877b</string>
			<key>size</key>
			<integer>14472</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gawk/fork.so</string>
			<key>sha256</key>
			<string>b7d85d82260230bd94c2d7c6735238bc08a298cccf4ce97aa7a26c85f227b762</string>
			<key>size</key>
			<integer>14488</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gawk/inplace.so</string>
			<key>sha256</key>
			<string>dfb1541d299ed9018ada6661b93c6c1bcd35ef1f226ac3d3845bfd98092cc3a9</string>
			<key>size</key>
			<integer>14472</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gawk/intdiv.so</string>
			<key>sha256</key>
			<string>742ae525265c957b7e926335144d72826b918a8e8d97f41b2db5907296750e4c</string>
			<key>size</key>
			<integer>14392</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gawk/ordchr.so</string>
			<key>sha256</key>
			<string>9a4cc325b9805b78c8dc162c3a1784ee283165aa3778d17b9b75b5d7480c03b8</string>
			<key>size</key>
			<integer>14440</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gawk/readdir.so</string>
			<key>sha256</key>
			<string>8f03b418017948df6b4d226a505adb385aaa852e4535969636f629b0cb742a04</string>
			<key>size</key>
			<integer>14376</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gawk/readfile.so</string>
			<key>sha256</key>
			<string>e7d9c7e0892b4e1bce7863638b92367169838166127287e9dce38e4e488e0d40</string>
			<key>size</key>
			<integer>14440</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gawk/revoutput.so</string>
			<key>sha256</key>
			<string>412eb14ce9757c970d75be59dc7344a13cb563e6e475c60c970bc2544636045d</string>
			<key>size</key>
			<integer>14384</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gawk/revtwoway.so</string>
			<key>sha256</key>
			<string>20a647628c378c20911463de0a916a8adb2d007ca47bd70257722ed054bf6355</string>
			<key>size</key>
			<integer>14456</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gawk/rwarray.so</string>
			<key>sha256</key>
			<string>996b2bbb263dc1fa4b781105aca36eda27b317aeabc9664dba7e9303e62e52a7</string>
			<key>size</key>
			<integer>18632</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gawk/time.so</string>
			<key>sha256</key>
			<string>d22c5cf8c456d60e6dd062296733d6182cf84769afa7c8caf8b55a520aada8d4</string>
			<key>size</key>
			<integer>14488</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/awk/grcat</string>
			<key>sha256</key>
			<string>33eada532d820695d7154f803c0c1535c62824cd1f2143b22ff42bd3afd927d7</string>
			<key>size</key>
			<integer>14496</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/awk/pwcat</string>
			<key>sha256</key>
			<string>469c5bf950fa49140f1f563f025e4abcff5276b5b185766bcb6119c0a0491af0</string>
			<key>size</key>
			<integer>14496</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/awk/assert.awk</string>
			<key>sha256</key>
			<string>07f9e0362956d40ea6a92bedd4f292666185d038885387cb00adb5ade1582d93</string>
			<key>size</key>
			<integer>383</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/awk/bits2str.awk</string>
			<key>sha256</key>
			<string>d7529387edb12e4054b384e96bc4911cb3b0e544602fb1e9de8a983f5fd46c5a</string>
			<key>size</key>
			<integer>334</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/awk/cliff_rand.awk</string>
			<key>sha256</key>
			<string>41b20eba1d788cdc7d64c3860315b3bb8613f80b5f7d8f04774c31caef64dd42</string>
			<key>size</key>
			<integer>307</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/awk/ctime.awk</string>
			<key>sha256</key>
			<string>cf1b816f600516ec0a4f84901e12c48f44c5309bd6bd7b32f9a17abd026f2b86</string>
			<key>size</key>
			<integer>234</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/awk/ftrans.awk</string>
			<key>sha256</key>
			<string>9957afaddfec5f2c6bc4f9cb12c576e6c367c1b681a472e91ced9caff5292722</string>
			<key>size</key>
			<integer>315</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/awk/getopt.awk</string>
			<key>sha256</key>
			<string>c7f46386e232c34ce011d5c82b00472b4019e9c9e02fb62e19b3663df08bd22a</string>
			<key>size</key>
			<integer>3270</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/awk/gettime.awk</string>
			<key>sha256</key>
			<string>7baacb670919547d1fc2ec186d6ad937c6f7cc2d03e0b2e8f6802742dc7c6023</string>
			<key>size</key>
			<integer>2491</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/awk/group.awk</string>
			<key>sha256</key>
			<string>dcabe4d2e2f93972471e7eade26a7779e0c160c23570d3b32509433756083073</string>
			<key>size</key>
			<integer>1765</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/awk/have_mpfr.awk</string>
			<key>sha256</key>
			<string>40d45f7e243e4f7faa1335852c5839fa80c60d70eccd94918cee7edbc58fd9a4</string>
			<key>size</key>
			<integer>221</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/awk/inplace.awk</string>
			<key>sha256</key>
			<string>9081138f1bb5564b2a330088ebd05afffc55d731f5b638058be3290915460de6</string>
			<key>size</key>
			<integer>2335</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/awk/intdiv0.awk</string>
			<key>sha256</key>
			<string>c184f8a175c7226e9c567a8bb91e5e67ed8e239769012ad16f93c48f8e328bfd</string>
			<key>size</key>
			<integer>462</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/awk/isnumeric.awk</string>
			<key>sha256</key>
			<string>cff4e7e76e676da800f88d39a866c5bc1d42be27538ca959540e3cee9bdf2159</string>
			<key>size</key>
			<integer>284</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/awk/join.awk</string>
			<key>sha256</key>
			<string>9af26157a40c1e1c09dfa73152e07cbff4c4f4b31b7bf8132572270da6dfc052</string>
			<key>size</key>
			<integer>378</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/awk/libintl.awk</string>
			<key>sha256</key>
			<string>2b3a65b9053d2f4f08733870ef2cf1b5ee8aeba74dc6b9b1d1610fc0d9ac0eee</string>
			<key>size</key>
			<integer>238</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/awk/noassign.awk</string>
			<key>sha256</key>
			<string>7ffc84e6d111aaf56cb0d3756bbcbd73e2510069ee6fc05bc1ea0e412884663e</string>
			<key>size</key>
			<integer>422</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/awk/ns_passwd.awk</string>
			<key>sha256</key>
			<string>65670dbe643091de33dd490b71609677c875166d0aa59378a6576f979ba9886a</string>
			<key>size</key>
			<integer>1282</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/awk/ord.awk</string>
			<key>sha256</key>
			<string>e7d37acc67a101dd2e23c19ed3f9dfd5d01ea93af63b2ebc8679976e1ef051ce</string>
			<key>size</key>
			<integer>937</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/awk/passwd.awk</string>
			<key>sha256</key>
			<string>bdaf71595b473e0cfffaa426f451e1cbeae6d8a9047c5e78cf254b33586ac5eb</string>
			<key>size</key>
			<integer>1199</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/awk/processarray.awk</string>
			<key>sha256</key>
			<string>ac1e8e8dee8105c5c1ab2a1b87fcb668885473b7e90b7b0c137275742c704166</string>
			<key>size</key>
			<integer>355</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/awk/quicksort.awk</string>
			<key>sha256</key>
			<string>b769b7a892acedcdb98d18c3cf05544d4d85488a0378aaacba0c6e2ddb71bf35</string>
			<key>size</key>
			<integer>1031</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/awk/readable.awk</string>
			<key>sha256</key>
			<string>06e27abeb78eff929cb1f44256f195fe2d86ebb62814f731f420df286c8f1094</string>
			<key>size</key>
			<integer>489</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/awk/readfile.awk</string>
			<key>sha256</key>
			<string>751d619465eb57c9d6314eb2a97e783ff84ff108cd1c4efeff8f62400dd77609</string>
			<key>size</key>
			<integer>267</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/awk/rewind.awk</string>
			<key>sha256</key>
			<string>878279434b70956b26eca128a0939c1a14da97b1626fe402eb76d44485fbc268</string>
			<key>size</key>
			<integer>404</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/awk/round.awk</string>
			<key>sha256</key>
			<string>28b705d2e2b01cc3ed450cc42e2ff99b058b55ef5a49cbc483aded7bdfa58aff</string>
			<key>size</key>
			<integer>661</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/awk/shellquote.awk</string>
			<key>sha256</key>
			<string>78e7df6e31f55536a4c3853f6d54644877aa892ed7fc6e1d4dc9080284d78565</string>
			<key>size</key>
			<integer>472</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/awk/strtonum.awk</string>
			<key>sha256</key>
			<string>abd27d285278e83655617efbd8e09b5f5271dd6ede37847b0ebd6632be2dde74</string>
			<key>size</key>
			<integer>1454</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/awk/tocsv.awk</string>
			<key>sha256</key>
			<string>a0b55efb4b9a988cf0d45afb9bbd85ddd7651680c881ffcb376d4ee5d238b274</string>
			<key>size</key>
			<integer>854</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/awk/walkarray.awk</string>
			<key>sha256</key>
			<string>3a7f02f135e91bbf1c1cd498ea0e1489802d58c83bb4d112c0a407593db31dd8</string>
			<key>size</key>
			<integer>214</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/awk/zerofile.awk</string>
			<key>sha256</key>
			<string>c20a5e00b43fbfb9ea420da93f64422ce13d4aebb3b725e2ac3ba0102f169bee</string>
			<key>size</key>
			<integer>424</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/gawk.info</string>
			<key>sha256</key>
			<string>fda0af2701d76b0ccd2131fde871ebe6087e7054961df83e8a58175625225688</string>
			<key>size</key>
			<integer>1824558</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/gawk_api-figure1.png</string>
			<key>sha256</key>
			<string>41e42a3d6934d030133f6cd2c3efdcf41c6bb01ce9c3efbec095dc001fdccbb2</string>
			<key>size</key>
			<integer>16357</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/gawk_api-figure2.png</string>
			<key>sha256</key>
			<string>041787ff295495430fcb207791ed9be2a790609b7b403b0b97ff4908d457b67a</string>
			<key>size</key>
			<integer>21581</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/gawk_api-figure3.png</string>
			<key>sha256</key>
			<string>98e28671fe6b83eb18af7942d29b730638c556b548b78a8a38d2c639919d9afa</string>
			<key>size</key>
			<integer>20460</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/gawk_array-elements.png</string>
			<key>sha256</key>
			<string>452e2a51e60558f5bbe744c14bf085328c89b1b66e112835b3b6c98c9b9a4f58</string>
			<key>size</key>
			<integer>6091</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/gawk_general-program.png</string>
			<key>sha256</key>
			<string>98a9ea38ab5764a614273faf5aa5b359f95a2b9d8782d77986cbbfc3515e0f90</string>
			<key>size</key>
			<integer>6078</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/gawk_process-flow.png</string>
			<key>sha256</key>
			<string>33dd3a96fb977c56aeab7d63893ac72a0ce1f157667e88cd5cb2b7cf93c596fb</string>
			<key>size</key>
			<integer>7856</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/gawk_statist.jpg</string>
			<key>sha256</key>
			<string>99c2883a5fb95fa4e69f929cc12f4dca039af30da85c30970af5f18d81f1c4ce</string>
			<key>size</key>
			<integer>66874</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/gawkinet.info</string>
			<key>sha256</key>
			<string>b2ee8b41c05f36ec66ebf72c77a6f1082b59b73acce40776bddc8a7ff0dea6ff</string>
			<key>size</key>
			<integer>216242</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/gawkworkflow.info</string>
			<key>sha256</key>
			<string>ad21c4f67bffbda8eb2433518fb98437db1ede61a2267da11145e936b21075ff</string>
			<key>size</key>
			<integer>91755</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/pm-gawk.info</string>
			<key>sha256</key>
			<string>0d917758c5ca46b19e922da2ec2a10ec155798230db3f0e8e345f56f6288d69f</string>
			<key>size</key>
			<integer>66510</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES/gawk.mo</string>
			<key>sha256</key>
			<string>cfa118687122bca4b5c5fb900c2ef7e77c8cc2a01c8a1009f200c5aaee02f495</string>
			<key>size</key>
			<integer>121584</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/gawk.mo</string>
			<key>sha256</key>
			<string>1b2ca764449906fe6d894993f03c961d03d5cf8fdea78f309ac3e05693e0fa85</string>
			<key>size</key>
			<integer>48698</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/gawk.mo</string>
			<key>sha256</key>
			<string>4355ab86479b3bf95fbb6c013d93a50535c479d32391ba86e9ae995b5ca5deeb</string>
			<key>size</key>
			<integer>33958</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/gawk.mo</string>
			<key>sha256</key>
			<string>b36785dc64a648f8e33e2222b378fb71e8267dc46a25f29ffb06407232c7de1d</string>
			<key>size</key>
			<integer>93933</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/gawk.mo</string>
			<key>sha256</key>
			<string>9dc20ad5d30d5c4b7042792379ad84d094ac021424adf063c3ec8d28a9468065</string>
			<key>size</key>
			<integer>92353</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/gawk.mo</string>
			<key>sha256</key>
			<string>1a9f0f02515c4f926a08a46a362db49fd38220cfa922948710ed9739cebecfdc</string>
			<key>size</key>
			<integer>54007</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/gawk.mo</string>
			<key>sha256</key>
			<string>d2b9c565c3cc9db497813cd7476da521abcefd1a20891bc58d92d88cf9792ffd</string>
			<key>size</key>
			<integer>94188</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES/gawk.mo</string>
			<key>sha256</key>
			<string>916b01b0a90c98417366e2c331ff44110244a8d35969a1405f270d3f89b461e9</string>
			<key>size</key>
			<integer>88566</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/gawk.mo</string>
			<key>sha256</key>
			<string>bafd34e0118722fed7211b8e1da5220e548b574a7f8b7576d6d2e909061cdf04</string>
			<key>size</key>
			<integer>89821</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/gawk.mo</string>
			<key>sha256</key>
			<string>ec2ee1a75aa5c1f211492b9ac1a65e135a3bc7146922cbbef5f18f4db5a02c0a</string>
			<key>size</key>
			<integer>34352</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ka/LC_MESSAGES/gawk.mo</string>
			<key>sha256</key>
			<string>cdf2b2240659046c6e0a77f94606171cfc4cfbbb9a13a47cd992a37698d84396</string>
			<key>size</key>
			<integer>8207</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES/gawk.mo</string>
			<key>sha256</key>
			<string>e9779d7dade64bd16be468cc62709afe8e6cfa78a663a4e74c4f64015c35ea82</string>
			<key>size</key>
			<integer>97468</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES/gawk.mo</string>
			<key>sha256</key>
			<string>40dd52656bd631fbb771de145c080507053c4e4042eac2f5febbadd9d02119bf</string>
			<key>size</key>
			<integer>1041</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/gawk.mo</string>
			<key>sha256</key>
			<string>b1ee5f5951f8277415414570bbea38eb17433575dc633c3fb2f7fbc2f01cae83</string>
			<key>size</key>
			<integer>65683</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/gawk.mo</string>
			<key>sha256</key>
			<string>c076f9d8e4cea6f46f838034897bcbdc938865e96345218c502cb93941c1b268</string>
			<key>size</key>
			<integer>91814</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES/gawk.mo</string>
			<key>sha256</key>
			<string>0d72fdfcb58c33fe8785f72fd5d69e434530395b467669a99247be0833f998a6</string>
			<key>size</key>
			<integer>88882</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/gawk.mo</string>
			<key>sha256</key>
			<string>1486c79eedb1edf24ff5636edea20e29e2b3f6e8993fb4a76993154fb9c25f83</string>
			<key>size</key>
			<integer>83119</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES/gawk.mo</string>
			<key>sha256</key>
			<string>b3f56e109e1b520e676f25a997465ad4acf8caf2b0debad94d7fcb653032c9fa</string>
			<key>size</key>
			<integer>94751</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES/gawk.mo</string>
			<key>sha256</key>
			<string>bed40a6af90ceabd4110086dea15dfb8ad9112ccaef224c46e718c3c56511476</string>
			<key>size</key>
			<integer>113758</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/gawk.mo</string>
			<key>sha256</key>
			<string>6953d8f7e5b583965a509af2c736cee7bddc3e28732118c2a644fa1f7d3b2ab9</string>
			<key>size</key>
			<integer>89828</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/gawk.mo</string>
			<key>sha256</key>
			<string>5d82df34a385fdd7a21b65dee3c2183cffb24dbc1465e0ba697ab3e43eac7843</string>
			<key>size</key>
			<integer>87012</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/gawk.mo</string>
			<key>sha256</key>
			<string>ca4ef2f446dc91c0ad93cc90b9cb4c39ebc8d409e13f94096a78648c9c96619c</string>
			<key>size</key>
			<integer>114854</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES/gawk.mo</string>
			<key>sha256</key>
			<string>50e614ae830f2a3b9323050dd164ba9c65e4b142c7327a98c62487b4ae016a19</string>
			<key>size</key>
			<integer>61178</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/gawk.mo</string>
			<key>sha256</key>
			<string>d9066c26ad8e3af4e6f440ab48827b1e6c211064e3720c96e8a71605c7f732a7</string>
			<key>size</key>
			<integer>83805</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/gawk.1</string>
			<key>sha256</key>
			<string>6917dd3335cd0c68e2d9a83a2ef888e6506a3f90f1ce0b077dc5b852ca507298</string>
			<key>size</key>
			<integer>60347</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/gawkbug.1</string>
			<key>sha256</key>
			<string>a38b98a8f092a13b0e8af51a64cf1cd81cab2cbbb86b0bf8e09ee7d294b292a6</string>
			<key>size</key>
			<integer>1952</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/pm-gawk.1</string>
			<key>sha256</key>
			<string>e211cb80d75ef3b69ea72e86ed5df8aa7767eee3cc0f7fb571f9600522f4f556</string>
			<key>size</key>
			<integer>5157</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/filefuncs.3am</string>
			<key>sha256</key>
			<string>c1a0484c97e0287509435bf45eb7a8e9683ba83d5506b7966ff13b42199dd926</string>
			<key>size</key>
			<integer>10590</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/fnmatch.3am</string>
			<key>sha256</key>
			<string>dbce8fbf9f2f135a7046e22b7d262a65c1337fbb4888824b5bd2ec8658e12eb0</string>
			<key>size</key>
			<integer>3109</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/fork.3am</string>
			<key>sha256</key>
			<string>d3e6be8b2619cd9cec3775f72515159a67b8f03e37bfe6113044fb4f7b355ab3</string>
			<key>size</key>
			<integer>2649</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/inplace.3am</string>
			<key>sha256</key>
			<string>270d686fe82222cbaf225829975142ced310a51d4fb43c2146769ee49e9b5784</string>
			<key>size</key>
			<integer>3250</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/ordchr.3am</string>
			<key>sha256</key>
			<string>fe8f8c792480b0301091ccb9e3db12e11c1433a97ddcd64551494187c8ccafa5</string>
			<key>size</key>
			<integer>2204</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/readdir.3am</string>
			<key>sha256</key>
			<string>b49584513aae3a026202d5f944cf2dbf58b03d2a77c69b2e18139408773dde59</string>
			<key>size</key>
			<integer>3258</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/readfile.3am</string>
			<key>sha256</key>
			<string>3e9cec15d472b87abe0a28e6f0ed6fcb01bc9c76372205078abde18323c7908a</string>
			<key>size</key>
			<integer>2439</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/revoutput.3am</string>
			<key>sha256</key>
			<string>0db3e1fad27c88568075b62fab7b088f63b8ff9c9e9206d8193cd449bd276087</string>
			<key>size</key>
			<integer>2102</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/revtwoway.3am</string>
			<key>sha256</key>
			<string>1904e389aae34f41d565b34e357d203943e1f3270535716dc30a03e42cb3a2e0</string>
			<key>size</key>
			<integer>1988</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/rwarray.3am</string>
			<key>sha256</key>
			<string>a1ea43b761a0ef06b3fb69ec79a2591d16ea39efc5716b9e6fc43025d34407bf</string>
			<key>size</key>
			<integer>4021</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man3/time.3am</string>
			<key>sha256</key>
			<string>424fee8854cd2c30046fdddb43712aa76dfffa5894f6d0276761fe53c25916a0</string>
			<key>size</key>
			<integer>3724</integer>
		</dict>
	</array>
</dict>
</plist>
