<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libformw.so.6.6</string>
			<key>sha256</key>
			<string>cb37d3e7f9f6a4977c0fbe4cb82d4d769117494e92db4e96ae7680c5a91f0fe6</string>
			<key>size</key>
			<integer>81208</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libmenuw.so.6.6</string>
			<key>sha256</key>
			<string>249b46f0dec784b5889a2a383251619a1fb07a0284de685b248ca3305ba4c726</string>
			<key>size</key>
			<integer>39240</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libncurses.so.6.6</string>
			<key>sha256</key>
			<string>4fa57912c835a6c3040edbd66963617694de166135dbfdc243a0c1586e7a2b0f</string>
			<key>size</key>
			<integer>412888</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libncursesw.so.6.6</string>
			<key>sha256</key>
			<string>5140295339c231cf3966cfece0d9d9d4d9c71e600b7a30c38a10e50fe8ef3c72</string>
			<key>size</key>
			<integer>490736</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libpanelw.so.6.6</string>
			<key>sha256</key>
			<string>ea0363cddb14bcb6cbfdb6ec739c0be3b099df692e1aa70f32c7bb0ec1b5ab56</string>
			<key>size</key>
			<integer>18352</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libformw.so.6</string>
			<key>target</key>
			<string>/usr/lib/libformw.so.6.6</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libmenuw.so.6</string>
			<key>target</key>
			<string>/usr/lib/libmenuw.so.6.6</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libncurses.so.6</string>
			<key>target</key>
			<string>/usr/lib/libncurses.so.6.6</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libncursesw.so.6</string>
			<key>target</key>
			<string>/usr/lib/libncursesw.so.6.6</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libpanelw.so.6</string>
			<key>target</key>
			<string>/usr/lib/libpanelw.so.6.6</string>
		</dict>
	</array>
</dict>
</plist>
