<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/af</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/af/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ka</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ka/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/sed</string>
			<key>sha256</key>
			<string>ff21f5416af69eedc228a1ff06f4a6955493077759fa55f987a7d31c719b0241</string>
			<key>size</key>
			<integer>203360</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/sed.info</string>
			<key>sha256</key>
			<string>55dc988628bba1ba5901fe1724ccb726bda5d66b85b90779eb924205bf1d5705</string>
			<key>size</key>
			<integer>213236</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/af/LC_MESSAGES/sed.mo</string>
			<key>sha256</key>
			<string>b14a59d804fd8cca70ad995bf21b7daa478bcc5777b376cf1177acb972f6b09a</string>
			<key>size</key>
			<integer>1889</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ar/LC_MESSAGES/sed.mo</string>
			<key>sha256</key>
			<string>13674286a0102d90980f2d01fc28ad01ca3343923c20c5ac104c54295ce28739</string>
			<key>size</key>
			<integer>14269</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast/LC_MESSAGES/sed.mo</string>
			<key>sha256</key>
			<string>cf5cecb0608a995da77ebcd027ac9c4bece19b7946e939d5ef193851700beb0a</string>
			<key>size</key>
			<integer>6390</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES/sed.mo</string>
			<key>sha256</key>
			<string>f912995549bc19c5bb894269b82a42fd70bb11138948280281a77dcfa4ba2509</string>
			<key>size</key>
			<integer>16231</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES/sed.mo</string>
			<key>sha256</key>
			<string>d5d225e0fa37559c4ba1bb2ab1726e6b159d89937794803ef1ffacb457e9cfed</string>
			<key>size</key>
			<integer>21010</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/sed.mo</string>
			<key>sha256</key>
			<string>116ac7e95b20d15a0b4eabb5c1d41561373b86dacdfa669b4632aeee88991acd</string>
			<key>size</key>
			<integer>6300</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/sed.mo</string>
			<key>sha256</key>
			<string>32cceb0ab1920ee337a987ea5e3c5850c2434e43e0dc9e8127184db4e205147b</string>
			<key>size</key>
			<integer>16848</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/sed.mo</string>
			<key>sha256</key>
			<string>8f90c044661996ce16ece125a47543208010ebbe1df3f67b506cf17788411b72</string>
			<key>size</key>
			<integer>12719</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/sed.mo</string>
			<key>sha256</key>
			<string>d5f9468d388b85851922adfacff1989d4fa1ccfe065bc704004e476d696f583d</string>
			<key>size</key>
			<integer>16990</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES/sed.mo</string>
			<key>sha256</key>
			<string>30794d90387fbbae51cfd42da37e8efbc4c80d25b9906e6c26d1bfa2d0883a69</string>
			<key>size</key>
			<integer>8149</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES/sed.mo</string>
			<key>sha256</key>
			<string>eff903e96ce877dcfaa861a19d802b078cd3dfd10e7e0c2decf340b21f053f69</string>
			<key>size</key>
			<integer>13414</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/sed.mo</string>
			<key>sha256</key>
			<string>e08dae778dc03f42feb239c1649d67bd876d99d389ed22ff9526cf069e1b3ece</string>
			<key>size</key>
			<integer>13956</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES/sed.mo</string>
			<key>sha256</key>
			<string>93b3e1a00548d3a33c7275d9e8bc1b75b6199ce7fe6a0ced4503fb86e8409509</string>
			<key>size</key>
			<integer>15545</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES/sed.mo</string>
			<key>sha256</key>
			<string>c975431e420fd02c4f46c249ed40d71b1e9f4acc2b0e059b2c7e293864ee93f8</string>
			<key>size</key>
			<integer>1136</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/sed.mo</string>
			<key>sha256</key>
			<string>d3da898248481600584b26b751a23a3c59286b2f6db848d9bacaec82eccd4de9</string>
			<key>size</key>
			<integer>13342</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/sed.mo</string>
			<key>sha256</key>
			<string>478609a8bf4ad45c4a6b748035743e569f97ee9ab0037e2a2703eeed5731c0d3</string>
			<key>size</key>
			<integer>17294</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga/LC_MESSAGES/sed.mo</string>
			<key>sha256</key>
			<string>3e9f0338a33f44ad8be9aed4c81a0bf7ac2266eebc99f257b96fdf17be700db7</string>
			<key>size</key>
			<integer>11570</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES/sed.mo</string>
			<key>sha256</key>
			<string>94d7d0ea624c9bf018d3e5005f9904a845bd1af22034ec4afb73ab6d584716fa</string>
			<key>size</key>
			<integer>13124</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES/sed.mo</string>
			<key>sha256</key>
			<string>e25e38c7946209032ae1a2d75cdf4da26f3d375a3e441442f7620c028d34e654</string>
			<key>size</key>
			<integer>690</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES/sed.mo</string>
			<key>sha256</key>
			<string>f6fa06411b51e7775a33a76af800944ce4b141198b376d9ebbbb7d04d8e74fa3</string>
			<key>size</key>
			<integer>16588</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/sed.mo</string>
			<key>sha256</key>
			<string>127af83bace00fcce27fbb926673bf1c0bb1b6f89cc9ea6836e9e797e427ae6c</string>
			<key>size</key>
			<integer>10627</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES/sed.mo</string>
			<key>sha256</key>
			<string>274911c6b6f4bbd393a624022d99d6173465a93d642973b5755579eb935ff829</string>
			<key>size</key>
			<integer>16246</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/sed.mo</string>
			<key>sha256</key>
			<string>dc0807d359706f8d9c4a9af0d911cb317b1af0b8e65efa2b5b52085f73be1cfa</string>
			<key>size</key>
			<integer>13087</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/sed.mo</string>
			<key>sha256</key>
			<string>ce63a8446591931a40da7311dd30184e1af61e7a9ca36b2083c57bf2101b5352</string>
			<key>size</key>
			<integer>8721</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ka/LC_MESSAGES/sed.mo</string>
			<key>sha256</key>
			<string>303e031f08e885502208b80b25ba3674c084d01ef3b71e0cb93f996b3df5a357</string>
			<key>size</key>
			<integer>19336</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES/sed.mo</string>
			<key>sha256</key>
			<string>973ec7e0f2da5e67e4176a04f3f65fed19cf1c5d84c3866c4fdc0908c7600363</string>
			<key>size</key>
			<integer>17473</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES/sed.mo</string>
			<key>sha256</key>
			<string>d762f07b54a22409f679a18c2239ccef51a9d0f8dd12cfef6748e289f1b61343</string>
			<key>size</key>
			<integer>15907</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/sed.mo</string>
			<key>sha256</key>
			<string>7bbb25d38f6f86e4c49f25ba31ea6a404736533819a93c2fd5eb67a064fb4205</string>
			<key>size</key>
			<integer>16594</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/sed.mo</string>
			<key>sha256</key>
			<string>0d71959e000c88876678ee5d75e7e9c389ed3e8df1884b53180940c1e740c7be</string>
			<key>size</key>
			<integer>17065</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES/sed.mo</string>
			<key>sha256</key>
			<string>0cbb0f59cd4abde6530123f3d0d0157b2a29e9b012d74d61a640083463421c7d</string>
			<key>size</key>
			<integer>16168</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/sed.mo</string>
			<key>sha256</key>
			<string>20d189df22da5a8ea6c57c33e04501aae6b0cedd5cf4ae541e136142d13e86a3</string>
			<key>size</key>
			<integer>13923</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES/sed.mo</string>
			<key>sha256</key>
			<string>e1aa87efbeafe80f996381602108c57df805290ea77d77d3b9ca555a75fc8580</string>
			<key>size</key>
			<integer>17622</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/sed.mo</string>
			<key>sha256</key>
			<string>5875d9626a1871e796025788a8fc6001edf1fccc7cefa177804320e0a1f7bd38</string>
			<key>size</key>
			<integer>17640</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES/sed.mo</string>
			<key>sha256</key>
			<string>8967fc01cf7f999f5bb898dff9cc28365070c12acb92de7f2b3f830abab91008</string>
			<key>size</key>
			<integer>16807</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES/sed.mo</string>
			<key>sha256</key>
			<string>0f3a988053adb3b1b2daa13decf98ab715c2be0b0e5a850580ab9bd6ca242f33</string>
			<key>size</key>
			<integer>6067</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES/sed.mo</string>
			<key>sha256</key>
			<string>20c52d8029cd6485afec6efea782aa8a71690dea3cb312122c7c24b1dff62d7c</string>
			<key>size</key>
			<integer>16700</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/sed.mo</string>
			<key>sha256</key>
			<string>4a9955878a4c968c74cf59597784b76763818f74e2b3431d909bab08c80e4f3b</string>
			<key>size</key>
			<integer>16264</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/sed.mo</string>
			<key>sha256</key>
			<string>b66f65d32632ddb6c51a60a7a61bc3180b25f099d94571013778f10c8210c589</string>
			<key>size</key>
			<integer>12784</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/sed.mo</string>
			<key>sha256</key>
			<string>5b780866b0bd2332df10bb8deac7097ce626fe8ce49bf75eed95dd0e21e9cd94</string>
			<key>size</key>
			<integer>21105</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES/sed.mo</string>
			<key>sha256</key>
			<string>d797537d3f789f5a5825535f68d0869a84518b22a7565d81bda9f978b21625c4</string>
			<key>size</key>
			<integer>14526</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/sed.mo</string>
			<key>sha256</key>
			<string>9b4e195feea4e88027bfdea71f0062b617816cb07ddad5a98c3438c246156c6f</string>
			<key>size</key>
			<integer>13074</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES/sed.mo</string>
			<key>sha256</key>
			<string>6ef9dbaf66060f5e9cc03e0f8755422499b354f5ef1933e2c127dd2cb94e8155</string>
			<key>size</key>
			<integer>13012</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/sed.1</string>
			<key>sha256</key>
			<string>b1158cd7d8b8aee867922abc796d41d1ea82203ccdef1f24afa4ead8a985b09e</string>
			<key>size</key>
			<integer>10499</integer>
		</dict>
	</array>
</dict>
</plist>
