<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/mksquashfs</string>
			<key>sha256</key>
			<string>6ad0c4e04699dde94a8d94cc2022f0495665c2b5339cdb1527701e585be5b607</string>
			<key>size</key>
			<integer>396160</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/unsquashfs</string>
			<key>sha256</key>
			<string>46b2697cdc90f1fb4e5123302d7fc3fef7e8e68fa83eeeeda98bc6ae70895e77</string>
			<key>size</key>
			<integer>183648</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/mksquashfs.1</string>
			<key>sha256</key>
			<string>c744b12a252d203267c146a576899e85b803cd103de67d42076a3721fbc160db</string>
			<key>size</key>
			<integer>31421</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/sqfscat.1</string>
			<key>sha256</key>
			<string>19125e310324386d6c188767ecd2f3bcd1816eacb053aee0a052a059eda937cd</string>
			<key>size</key>
			<integer>5770</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/sqfstar.1</string>
			<key>sha256</key>
			<string>41cd52edb0db2647ae39a6e10a58a302122c9bc1b5dc6d737651f73c2feeae39</string>
			<key>size</key>
			<integer>23935</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/unsquashfs.1</string>
			<key>sha256</key>
			<string>9721ca5b87d50570bd4f818f9d7c9c462c2f01325686cc8ad10c3af41570e628</string>
			<key>size</key>
			<integer>12722</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/sqfscat</string>
			<key>target</key>
			<string>/usr/bin/unsquashfs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/sqfstar</string>
			<key>target</key>
			<string>/usr/bin/mksquashfs</string>
		</dict>
	</array>
</dict>
</plist>
