<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ka</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ka/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ky</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ky/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/tar</string>
			<key>mtime</key>
			<integer>1690625235</integer>
			<key>sha256</key>
			<string>ac6e9b8d7a39863579a934b6ae9eab5f4dcdcba87d8f3df580d20d7cec578c75</string>
			<key>size</key>
			<integer>440200</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/rmt</string>
			<key>mtime</key>
			<integer>1690625235</integer>
			<key>sha256</key>
			<string>0c27a05a9b558b553465f254c27efb52cd7d09460e8fe558b14b0ece24aa0b55</string>
			<key>size</key>
			<integer>64048</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/tar.info</string>
			<key>mtime</key>
			<integer>1690625235</integer>
			<key>sha256</key>
			<string>1a8d4e65b7f4f8fa690683ce4b892c71e832418b2cb1e44bba83241d9a9f9a98</string>
			<key>size</key>
			<integer>13479</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/tar.info-1</string>
			<key>mtime</key>
			<integer>1690625235</integer>
			<key>sha256</key>
			<string>105c7e08d600fce1baef73d150bb9af0f569e63997b5a21c174034603ddc6a6f</string>
			<key>size</key>
			<integer>304308</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/tar.info-2</string>
			<key>mtime</key>
			<integer>1690625235</integer>
			<key>sha256</key>
			<string>78e524b8ac40df83361f5821acb5e07617476ed04a4fe5a20d3124689ce5517a</string>
			<key>size</key>
			<integer>317618</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/tar.info-3</string>
			<key>mtime</key>
			<integer>1690625235</integer>
			<key>sha256</key>
			<string>a973a42efcc5bb8c8079cf16a2833b98fe83091b2699d28c74234bdb2b93b717</string>
			<key>size</key>
			<integer>49627</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1690625235</integer>
			<key>sha256</key>
			<string>5c50a4371bda30b68107372c7371bd8019b7b3534440d243cc9d8a1717e30b22</string>
			<key>size</key>
			<integer>85525</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1690625235</integer>
			<key>sha256</key>
			<string>7ff0e083a5d522b01994a6b7850f01e639efef8ba35dbfa11b70461edaa2ea4c</string>
			<key>size</key>
			<integer>62123</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1690625235</integer>
			<key>sha256</key>
			<string>b5ba6981ece916cd332d2b9fd3bfeccbf06fd006cd86486cb9b6a84ce146a76f</string>
			<key>size</key>
			<integer>63708</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1690625235</integer>
			<key>sha256</key>
			<string>5ca240c327160af536759528213de137eebff11c9cbe5222ac8f1cb35fcaa892</string>
			<key>size</key>
			<integer>58291</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1690625235</integer>
			<key>sha256</key>
			<string>4af9b794c6e9a36a7a23af1690167fb41b5f86a61056db2d805b672e274948f8</string>
			<key>size</key>
			<integer>63721</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1690625235</integer>
			<key>sha256</key>
			<string>f9a7f9619e441a5490c0e5fcf3c0672165e8eba58bf47d0b0aa1017cc0eb6672</string>
			<key>size</key>
			<integer>13857</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1690625235</integer>
			<key>sha256</key>
			<string>bfca46d1d1938d5126d53c7a4797ed5db5faea3cb807cc4d716f18f6fb2d0333</string>
			<key>size</key>
			<integer>59321</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1690625235</integer>
			<key>sha256</key>
			<string>cbdb59c27a4008a69973c3c678e7865205b4b381c2e5cf526a208787e4c4a30f</string>
			<key>size</key>
			<integer>64056</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1690625235</integer>
			<key>sha256</key>
			<string>cfec6cc370112c0bea624d08c2825903ac13f6f193351bcda8ccc4771bf7bf7a</string>
			<key>size</key>
			<integer>58742</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1690625235</integer>
			<key>sha256</key>
			<string>550a307ee6a6fc84fd10de8f70b7f54ec7bbbd0665db3227e8330a889e9e58d7</string>
			<key>size</key>
			<integer>31314</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1690625235</integer>
			<key>sha256</key>
			<string>39fc9262029c319f7169ee976229e7ae13269a2354a08822a8e290fa43ab18eb</string>
			<key>size</key>
			<integer>55692</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1690625235</integer>
			<key>sha256</key>
			<string>cf1721fcfa775a4f0937c8bf65b473d3fd164d75f2410b51c9325373e5035962</string>
			<key>size</key>
			<integer>65314</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1690625235</integer>
			<key>sha256</key>
			<string>0f40152fce374a1a15135b7056d8c6b49741b3c22bc544402a0da095c32690e6</string>
			<key>size</key>
			<integer>63206</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1690625235</integer>
			<key>sha256</key>
			<string>fad9635a77ced953979bb13a8333456349a3d60ef81bd5029d23754459bf52f3</string>
			<key>size</key>
			<integer>10288</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1690625235</integer>
			<key>sha256</key>
			<string>114ddeb078bb16e7f6060e7a85414c1a20d71a437219989e4a2ecd4a3593ce41</string>
			<key>size</key>
			<integer>62624</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1690625235</integer>
			<key>sha256</key>
			<string>a86991178385a63a9caa7bf1572f92fd9f5cf5f29379624018c8ffe3ed5ab3b2</string>
			<key>size</key>
			<integer>65464</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1690625235</integer>
			<key>sha256</key>
			<string>27c50ea2f778dc13f37722699f1f5abf02cba6479333d5177989fa529d5aab59</string>
			<key>size</key>
			<integer>60966</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1690625235</integer>
			<key>sha256</key>
			<string>481a78d0735f2b36d2a0c34e504ec6cd48a00746b3beb9ef06650897ea35291a</string>
			<key>size</key>
			<integer>61806</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1690625235</integer>
			<key>sha256</key>
			<string>399dbb2f0ff34e8da51fcdcb5c2463c49c02952c9e59f57d64480d2fa53be313</string>
			<key>size</key>
			<integer>58317</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ka/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1690625235</integer>
			<key>sha256</key>
			<string>19d7f0701642da522c80e31ab6dd5f6c03078e91058090d10e992d4169cd7b0c</string>
			<key>size</key>
			<integer>35755</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1690625235</integer>
			<key>sha256</key>
			<string>838bce5ffe878943e2f8477b7eaf44f79c5fc69064a086557192c5e17993310d</string>
			<key>size</key>
			<integer>65165</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ky/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1690625235</integer>
			<key>sha256</key>
			<string>349464bbcceed171dc99b8905fd02e4fad9e0312efb640e9344e68f6f62e9f36</string>
			<key>size</key>
			<integer>53652</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1690625235</integer>
			<key>sha256</key>
			<string>b71ce6d94ff2be9a008d8866a1eb85d5c47ee1ce3c16b821d6fa43e5715e0d68</string>
			<key>size</key>
			<integer>9251</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1690625235</integer>
			<key>sha256</key>
			<string>c265e0d881cdb6157f4eaa2479a4517616f993e3e1e88c42a7be355679db4db4</string>
			<key>size</key>
			<integer>59064</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1690625235</integer>
			<key>sha256</key>
			<string>a856e739a4a12e13914d308aee7f3aceb7d7ac79f7c22de9aac7bc9ab9687407</string>
			<key>size</key>
			<integer>62792</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1690625235</integer>
			<key>sha256</key>
			<string>a971c6e58eb74004c52bad69ab61456731d1b2f76c587de5ddc5979118c0bae9</string>
			<key>size</key>
			<integer>63808</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1690625235</integer>
			<key>sha256</key>
			<string>dba613f8652b6f70b9da1be0c760e5efd75a008117da0577bd61d75e8aefafb2</string>
			<key>size</key>
			<integer>60658</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1690625235</integer>
			<key>sha256</key>
			<string>88f3c4851a5a97dc367901805f315b018ff7d6cb484faeb62e820f7800e883c7</string>
			<key>size</key>
			<integer>62037</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1690625235</integer>
			<key>sha256</key>
			<string>6e3de0df6a441d932fe198adf4d808728dce497e57db7e6a2d6ee26cdb80bd9e</string>
			<key>size</key>
			<integer>65049</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1690625235</integer>
			<key>sha256</key>
			<string>70d5400963bcb3de2ed4b4acd1e1ddef67db0188fead9f3fbf955343155dd9c9</string>
			<key>size</key>
			<integer>81715</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1690625235</integer>
			<key>sha256</key>
			<string>5e2baab9634ac1933226e27cdcb3020ba585833f33a17f342f6fbabe7403501e</string>
			<key>size</key>
			<integer>9862</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1690625235</integer>
			<key>sha256</key>
			<string>08729e7bc3301b56683db07925855894ae3d56c4d024d9ff116e611b85b1bebd</string>
			<key>size</key>
			<integer>57629</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1690625235</integer>
			<key>sha256</key>
			<string>faf76b4eeb6d0842e905d41a1e7ce2acd6ead47b04bf416bd85350d2c1577de7</string>
			<key>size</key>
			<integer>80284</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1690625235</integer>
			<key>sha256</key>
			<string>ce00bb838a10dcf38ab60c25a25695b2a6dbbf9e39135f82d5d56d94ea454908</string>
			<key>size</key>
			<integer>60843</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1690625235</integer>
			<key>sha256</key>
			<string>0a6f2cf2f5a143b319e2b78503b79eb2cfa6ac5c37a93b19ded440ee657792ee</string>
			<key>size</key>
			<integer>61012</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1690625235</integer>
			<key>sha256</key>
			<string>2616a08d860d444f09a1ade1df199eeba75659699568a0286aa2c24b273fc03d</string>
			<key>size</key>
			<integer>81231</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1690625235</integer>
			<key>sha256</key>
			<string>d7f8e724f5624954ead835b03102a7e3873801823e266f23de5851a6db252939</string>
			<key>size</key>
			<integer>68077</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1690625235</integer>
			<key>sha256</key>
			<string>eeee494e84391b945fdfca16c9984313efe0d1c5ef21eb540d6c5bfb50480236</string>
			<key>size</key>
			<integer>56889</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1690625235</integer>
			<key>sha256</key>
			<string>32b45b81f7191fc077dcff6bf8cd362489d0e0ddbee65ac54393239ad5eaedff</string>
			<key>size</key>
			<integer>57419</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/tar.1</string>
			<key>mtime</key>
			<integer>1690625235</integer>
			<key>sha256</key>
			<string>3a85ebdd1601114e7c8c1dfa35726f8394d59412887242ffc6ef49ec021017ee</string>
			<key>size</key>
			<integer>42162</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/rmt.8</string>
			<key>mtime</key>
			<integer>1690625235</integer>
			<key>sha256</key>
			<string>863a8ab6826c334f7ee92bc7053c5301f47b8161b153ac80029c46d2e3749f81</string>
			<key>size</key>
			<integer>5361</integer>
		</dict>
	</array>
</dict>
</plist>
