<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/xorriso</string>
			<key>mtime</key>
			<integer>1722919010</integer>
			<key>sha256</key>
			<string>9b6cc31ff5d7fdd6f84ff437c5ba17e6a352bc6bbf47fd5c2f48082f1d26f834</string>
			<key>size</key>
			<integer>1772856</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xorriso-dd-target</string>
			<key>mtime</key>
			<integer>1722919010</integer>
			<key>sha256</key>
			<string>11d172b3673576378b521ad3e99ca58a688b29b90c69c5e3316011ffa55cf108</string>
			<key>size</key>
			<integer>29582</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xorriso-tcltk</string>
			<key>mtime</key>
			<integer>1722919010</integer>
			<key>sha256</key>
			<string>efdf9ce1fa965aefc9ce15a9593ebd2c0eb826bb35602520d612f087fc2d0d9d</string>
			<key>size</key>
			<integer>186344</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/xorrecord.info</string>
			<key>mtime</key>
			<integer>1722919010</integer>
			<key>sha256</key>
			<string>dfd2c9d0a6375241289e5206d7f499547f4d3b56ba8a11b5a31ff3287d5ee0f2</string>
			<key>size</key>
			<integer>49458</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/xorriso-dd-target.info</string>
			<key>mtime</key>
			<integer>1722919010</integer>
			<key>sha256</key>
			<string>478324a51f4aa7decae2139fa4232f7be863058a35d68760d524f8b80943ac14</string>
			<key>size</key>
			<integer>22823</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/xorriso-tcltk.info</string>
			<key>mtime</key>
			<integer>1722919010</integer>
			<key>sha256</key>
			<string>00e10da292e86a56b87cdf1caa2f01c5afbe958aab73eedc821b2ef09de460cf</string>
			<key>size</key>
			<integer>6703</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/xorriso.info</string>
			<key>mtime</key>
			<integer>1722919010</integer>
			<key>sha256</key>
			<string>6f3fca0121b15e7a4da4f293324deb8f3440dfed525f4db0257cc361596dbb32</string>
			<key>size</key>
			<integer>339694</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/xorrisofs.info</string>
			<key>mtime</key>
			<integer>1722919010</integer>
			<key>sha256</key>
			<string>447580b475419257826d7d0f177c85ea711cc1b7251fa246fc1382a8b64ea7a8</string>
			<key>size</key>
			<integer>126438</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xorrecord.1</string>
			<key>mtime</key>
			<integer>1722919010</integer>
			<key>sha256</key>
			<string>c07768bfbeb9d6fbfcbcdd21fe0f0d13edb86c503e09453e34cce98f32c972f1</string>
			<key>size</key>
			<integer>36577</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xorriso-dd-target.1</string>
			<key>mtime</key>
			<integer>1722919010</integer>
			<key>sha256</key>
			<string>8e3710b708b310797bafdc8a2952521c86680493f4c4dad459c15d3b73bd3204</string>
			<key>size</key>
			<integer>18072</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xorriso-tcltk.1</string>
			<key>mtime</key>
			<integer>1722919010</integer>
			<key>sha256</key>
			<string>a23cc8b5698a888996b5520d93195b6793b2df02bbdd3b178bc6e3ae37a24410</string>
			<key>size</key>
			<integer>4585</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xorriso.1</string>
			<key>mtime</key>
			<integer>1722919010</integer>
			<key>sha256</key>
			<string>f0a85391b3c1ae08c2fb8de0b868d72f160542203e81713336a2330afcde7feb</string>
			<key>size</key>
			<integer>279794</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xorrisofs.1</string>
			<key>mtime</key>
			<integer>1722919010</integer>
			<key>sha256</key>
			<string>22ca2ad97a7b90ab93c21df3643975bf4c4d7eea41f7f87eb7dfc223a3de1a64</string>
			<key>size</key>
			<integer>87334</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/osirrox</string>
			<key>mtime</key>
			<integer>1722919010</integer>
			<key>target</key>
			<string>/usr/bin/xorriso</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xorrecord</string>
			<key>mtime</key>
			<integer>1722919010</integer>
			<key>target</key>
			<string>/usr/bin/xorriso</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xorrisofs</string>
			<key>mtime</key>
			<integer>1722919010</integer>
			<key>target</key>
			<string>/usr/bin/xorriso</string>
		</dict>
	</array>
</dict>
</plist>
