<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libz.so.1.3.2</string>
			<key>sha256</key>
			<string>c265ef153761a706931af5c36ac81b03259620f4cbb4260746412396e7dd4992</string>
			<key>size</key>
			<integer>104592</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libz.so.1</string>
			<key>target</key>
			<string>/usr/lib/libz.so.1.3.2</string>
		</dict>
	</array>
</dict>
</plist>
