[Desktop Entry]
Type=Application
Name=Create PeppermintOS Installer Icon
Exec=/usr/local/bin/add-installer-desktop-icon.sh
X-GNOME-Autostart-enabled=true
NoDisplay=true
