<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/bash</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/profile.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/af</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/af/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en@boldquot</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en@boldquot/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en@quot</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en@quot/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ka</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ka/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/bash/bashrc</string>
			<key>sha256</key>
			<string>8de07d479d6d55fb39a540f5ed8893dcbb4e38a4e6b827edaa48af65339245ab</string>
			<key>size</key>
			<integer>301</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/profile.d/bash.sh</string>
			<key>sha256</key>
			<string>b7c397f397086ba0b8fb92804dcae3f8301233f6c37a249510ff701be65054a0</string>
			<key>size</key>
			<integer>263</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/bash</string>
			<key>sha256</key>
			<string>23573e4ebd8961300f21cf8d12dd458751a1720d8b610c035d11d3c79bb89596</string>
			<key>size</key>
			<integer>1544040</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/bashbug</string>
			<key>sha256</key>
			<string>63967461f399989575261b2aab1a88d84adbea3f69c98db81f1f63bbcb0cc0fe</string>
			<key>size</key>
			<integer>7056</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/bash.info</string>
			<key>sha256</key>
			<string>e64164b06027fad39355387b7c51c96a15610333b10c86c6d4ffe3e2f0f53670</string>
			<key>size</key>
			<integer>639890</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/af/LC_MESSAGES/bash.mo</string>
			<key>sha256</key>
			<string>052d862b0c7cc51b401e6d9b261ceb8842a1e6cf22127db67499e3c479e3d26f</string>
			<key>size</key>
			<integer>1040</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES/bash.mo</string>
			<key>sha256</key>
			<string>7cf93f86b0b15374b36e846593a7638f5f376c69d82b196f1aafd5a21402510f</string>
			<key>size</key>
			<integer>258404</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/bash.mo</string>
			<key>sha256</key>
			<string>5cd7b6a86a1578c9e2f542346e1f6e5e415de8c557f58b820f50e98e5d769fbc</string>
			<key>size</key>
			<integer>128568</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/bash.mo</string>
			<key>sha256</key>
			<string>b34acb20879d0e617c9febcf1314ba216138eaab672e955651f87a05c48ee155</string>
			<key>size</key>
			<integer>192115</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/bash.mo</string>
			<key>sha256</key>
			<string>65ef69ad05f96da1e3c6bb6b253947523f3eb9c392e1fd13533286fbc313901c</string>
			<key>size</key>
			<integer>60443</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/bash.mo</string>
			<key>sha256</key>
			<string>e5f534536b7a2a8f84f66a62fe32240a6d7d22873db56d84ba69cef93ddaecf8</string>
			<key>size</key>
			<integer>182342</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES/bash.mo</string>
			<key>sha256</key>
			<string>4e7a21f92e762cd729a81916d2c61e5b9e30492883c8e73234b0e6a525ae2973</string>
			<key>size</key>
			<integer>77549</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en@boldquot/LC_MESSAGES/bash.mo</string>
			<key>sha256</key>
			<string>165af15b504a082c3f8d81c7b1d9bdf9caafb5cca8bb20e90a1987d77af6bbfd</string>
			<key>size</key>
			<integer>180619</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en@quot/LC_MESSAGES/bash.mo</string>
			<key>sha256</key>
			<string>2dd5196b9f028d850edf075d4bee1e240e2b5073d28ec1c05f706e08438aa345</string>
			<key>size</key>
			<integer>178923</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES/bash.mo</string>
			<key>sha256</key>
			<string>08c37e5fe3aff8e97960d75db9812a7dd352a50fadb844b430938731cd536069</string>
			<key>size</key>
			<integer>118409</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/bash.mo</string>
			<key>sha256</key>
			<string>2975e2a6c3a742fec6ddb3a172e164cf8b340569bd4676b9f78472621339a59e</string>
			<key>size</key>
			<integer>190295</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES/bash.mo</string>
			<key>sha256</key>
			<string>20d873ec22c8b8d24b94c9389af552cccd8f7e1e3fec89da5ac03901df5895b2</string>
			<key>size</key>
			<integer>27510</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/bash.mo</string>
			<key>sha256</key>
			<string>32e48f3ee9c6ac34b266645ba7aa220292754ce628325b204ceaca0a2db91f1b</string>
			<key>size</key>
			<integer>62932</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/bash.mo</string>
			<key>sha256</key>
			<string>fe88029876d61cef07beea9344cb579dbd6b592079f7f3a7d6b1cd46bde9e6a4</string>
			<key>size</key>
			<integer>197028</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga/LC_MESSAGES/bash.mo</string>
			<key>sha256</key>
			<string>57e47b9137642888e4a58265fb7cba70c670f650438495fb3ffbab5a4a8a5438</string>
			<key>size</key>
			<integer>100049</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES/bash.mo</string>
			<key>sha256</key>
			<string>63845467029bd90dfc3210fbb95d83a792938bb2f864a2c8538130b7c0f2c8bc</string>
			<key>size</key>
			<integer>48557</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES/bash.mo</string>
			<key>sha256</key>
			<string>81d6a15bf4c9ec83f147e13b55786e138898d6606d60bd4044849779d1296437</string>
			<key>size</key>
			<integer>184243</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/bash.mo</string>
			<key>sha256</key>
			<string>322f0a819ef2a10d25f6483884e85e7af59b0d73c1b7989a23472ebd051d4686</string>
			<key>size</key>
			<integer>116359</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES/bash.mo</string>
			<key>sha256</key>
			<string>9f007d9d964d72651cd28ca2d87be6bc7a22eaa4f449261e8c0c85c30b72cc2e</string>
			<key>size</key>
			<integer>81233</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/bash.mo</string>
			<key>sha256</key>
			<string>0f8a4709db67ff45cdf3e9c50e96462eff3aa335b9d62051dee634eee3a16afd</string>
			<key>size</key>
			<integer>190431</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/bash.mo</string>
			<key>sha256</key>
			<string>b4ac9e0e04e28f91f20fd11c7a0c6b6140386a65b909acc271f06707a4cd05af</string>
			<key>size</key>
			<integer>91569</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ka/LC_MESSAGES/bash.mo</string>
			<key>sha256</key>
			<string>893c845936c6abce9ef8932a7a181ff02c745dccdebd68d52db47c6c88f66af0</string>
			<key>size</key>
			<integer>50697</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES/bash.mo</string>
			<key>sha256</key>
			<string>16aeaff4d13d4bee13090674cb43e1b10023c8c46c08cb64c877ff97a9dd8cc7</string>
			<key>size</key>
			<integer>192128</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES/bash.mo</string>
			<key>sha256</key>
			<string>ad2e451bd88f90f25601d6c3b744fe6b3e6672344ae3b426b5a801f2cd69c7bc</string>
			<key>size</key>
			<integer>26385</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES/bash.mo</string>
			<key>sha256</key>
			<string>49b7e31bad92c0e32046a54cf169870a043c6ec57d78a78e6bd1a2eb59dd8c9e</string>
			<key>size</key>
			<integer>120592</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/bash.mo</string>
			<key>sha256</key>
			<string>302272c10f6ab91e05dbafa6e341716014e62566873109fa5aa2382d94a5e663</string>
			<key>size</key>
			<integer>187509</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/bash.mo</string>
			<key>sha256</key>
			<string>d5c75d442a39991044d4df8fa4fcb8f77cc009dc7dd9c2da6e1bd57ff8e649d2</string>
			<key>size</key>
			<integer>190807</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES/bash.mo</string>
			<key>sha256</key>
			<string>ce78e2981523565a801004a0c327877d60009b7cf61475098933d0d3728be19f</string>
			<key>size</key>
			<integer>186579</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/bash.mo</string>
			<key>sha256</key>
			<string>7e2c259344b24cffbb374e49de1f0b9fc5a89ff1e98c77197e157444c9c4b2dd</string>
			<key>size</key>
			<integer>190756</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES/bash.mo</string>
			<key>sha256</key>
			<string>08a9e628435f2b94bab77270eef99fe4740d43a75171df3e177ff8433a7bb0a8</string>
			<key>size</key>
			<integer>197068</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/bash.mo</string>
			<key>sha256</key>
			<string>152d9ae0666682c6ba97b77fa925fd34e098b947e5dc86921e7882a2bcd6ef66</string>
			<key>size</key>
			<integer>105270</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES/bash.mo</string>
			<key>sha256</key>
			<string>9cb0e7ffa345484cfd79c025724f0d22b74f446ac9eb890c4726bb3ab30c8156</string>
			<key>size</key>
			<integer>69047</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES/bash.mo</string>
			<key>sha256</key>
			<string>472eab42e4c1f3d71ab65040caeec9df927e7827c36099898f47ac74bfadf76c</string>
			<key>size</key>
			<integer>66641</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sq/LC_MESSAGES/bash.mo</string>
			<key>sha256</key>
			<string>4c4fa953f3bed011cc36932d626580bd6ab9183a0d86789f8d6db061b4a9d74b</string>
			<key>size</key>
			<integer>584</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES/bash.mo</string>
			<key>sha256</key>
			<string>062240a475f44064c43e8a19b3da671f87275504554425214c95c89666a0a977</string>
			<key>size</key>
			<integer>241651</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/bash.mo</string>
			<key>sha256</key>
			<string>5a605b06bb3cac26d7b72395f3aa3d483e416900b29afe1ea03d6689540ebd2a</string>
			<key>size</key>
			<integer>183324</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/bash.mo</string>
			<key>sha256</key>
			<string>44bed93c877535520ab19bb2dde2730a94f19b1b7e92f7483cd989c59f7d54b0</string>
			<key>size</key>
			<integer>96241</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/bash.mo</string>
			<key>sha256</key>
			<string>748c7f95114a384907c1824e953a4c6957e8fd12ea865e518334238a6a9f1d0e</string>
			<key>size</key>
			<integer>246838</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES/bash.mo</string>
			<key>sha256</key>
			<string>20e77b23216dbbe50992ed239e76e2b589cb121404e5e2f4e615a8495d5be081</string>
			<key>size</key>
			<integer>108706</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/bash.mo</string>
			<key>sha256</key>
			<string>f7e81c95e45b722686a9cff822f594ddf8bb8b49c4fee7b5764cb3943f945d43</string>
			<key>size</key>
			<integer>176530</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES/bash.mo</string>
			<key>sha256</key>
			<string>5fa4abd414259909b2bd94a1a28d9034983c80f82119f5642096555262c75f3a</string>
			<key>size</key>
			<integer>118863</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/bash.1</string>
			<key>sha256</key>
			<string>23f7bd155c57125864094d2cb4e1f6ec9f8c2ea002e18bebeb3ed4bcfaad1971</string>
			<key>size</key>
			<integer>392678</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/bashbug.1</string>
			<key>sha256</key>
			<string>e32a1b4f1ca110bd2bf232a49a68ac2c151048dd29d5bde49864b94931022af0</string>
			<key>size</key>
			<integer>1961</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/rbash</string>
			<key>target</key>
			<string>/usr/bin/bash</string>
		</dict>
	</array>
</dict>
</plist>
