<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/dmeventd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/dmeventd/log</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/device-mapper</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/udev</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/udev/rules.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/sv/dmeventd/log/run</string>
			<key>mtime</key>
			<integer>1734645632</integer>
			<key>sha256</key>
			<string>916a53d36abf8f293678b022389e1496feee842145a78ba9f919490b9e547c01</string>
			<key>size</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/dmeventd/run</string>
			<key>mtime</key>
			<integer>1734645632</integer>
			<key>sha256</key>
			<string>5b95dc7dbfc4a16fd6962ecd5d3f63e2dd1738017de550382a29bfb43364ddb1</string>
			<key>size</key>
			<integer>37</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/dmeventd</string>
			<key>mtime</key>
			<integer>1734645632</integer>
			<key>sha256</key>
			<string>d0bff9db51991856c3f5685d77b450c8c417b74d34e18c5df853eae78e4786ac</string>
			<key>size</key>
			<integer>67664</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/dmsetup</string>
			<key>mtime</key>
			<integer>1734645632</integer>
			<key>sha256</key>
			<string>124fd0f11e07b6cd94ada89c8bfed6ac167f01d86292b23c9d662660e80d6e4a</string>
			<key>size</key>
			<integer>198768</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/device-mapper/libdevmapper-event-lvm2mirror.so</string>
			<key>mtime</key>
			<integer>1734645632</integer>
			<key>sha256</key>
			<string>8cceac2bd6b6e902017e88f9088d3cb4243c2eb9712cf46bcfed4ddd7f19429a</string>
			<key>size</key>
			<integer>67512</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/device-mapper/libdevmapper-event-lvm2raid.so</string>
			<key>mtime</key>
			<integer>1734645632</integer>
			<key>sha256</key>
			<string>1addea6850b00c956ccf270b56a33c8528c03dbd4fc024559fd5f10434371e93</string>
			<key>size</key>
			<integer>67512</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/device-mapper/libdevmapper-event-lvm2snapshot.so</string>
			<key>mtime</key>
			<integer>1734645632</integer>
			<key>sha256</key>
			<string>1dfd9612a778a1f98505c9cc2cec9f0fb916448937f9a88ac97df607f637bb81</string>
			<key>size</key>
			<integer>67512</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/device-mapper/libdevmapper-event-lvm2thin.so</string>
			<key>mtime</key>
			<integer>1734645632</integer>
			<key>sha256</key>
			<string>6cc2c33e4c400e9cbb6be5ba4202d1af4aeb8d703e84396c7253bf88eebd0e55</string>
			<key>size</key>
			<integer>67512</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/device-mapper/libdevmapper-event-lvm2vdo.so</string>
			<key>mtime</key>
			<integer>1734645632</integer>
			<key>sha256</key>
			<string>fce1a2fd408716be92d9a42624c66085cdf47717b8cce1b1521a95f198a23efb</string>
			<key>size</key>
			<integer>67512</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libdevmapper-event-lvm2.so.2.03</string>
			<key>mtime</key>
			<integer>1734645632</integer>
			<key>sha256</key>
			<string>6d3428f82e3988d45a1ac91ad74224dde75116f5c4e1d3d41e38c088d9acade4</string>
			<key>size</key>
			<integer>67544</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libdevmapper-event.so.1.02</string>
			<key>mtime</key>
			<integer>1734645632</integer>
			<key>sha256</key>
			<string>e5596fc9213ef9f8c4254ebc2218780a177e065aa01145b0a21dc9ed6b4daef5</string>
			<key>size</key>
			<integer>67536</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libdevmapper.so.1.02</string>
			<key>mtime</key>
			<integer>1734645632</integer>
			<key>sha256</key>
			<string>98c98048ec56bc831abc0235880dabb7ae029843f943814cdbc77cd439c726f2</string>
			<key>size</key>
			<integer>403672</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/liblvm2cmd.so.2.03</string>
			<key>mtime</key>
			<integer>1734645632</integer>
			<key>sha256</key>
			<string>2c19aecb8497361f33570588841c739a923fa190010863c086b1aafe8e276935</string>
			<key>size</key>
			<integer>2449640</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/udev/rules.d/10-dm.rules</string>
			<key>mtime</key>
			<integer>1734645632</integer>
			<key>sha256</key>
			<string>4e08496a3e8664349ed551fc5eee0dd4182fd58e7c5cb0d6613901a3eb471fe0</string>
			<key>size</key>
			<integer>8516</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/udev/rules.d/13-dm-disk.rules</string>
			<key>mtime</key>
			<integer>1734645632</integer>
			<key>sha256</key>
			<string>4ed1038938490e34147710cb4eba2ce11aad75942bf75e0c6bcc1ff24c78fbc2</string>
			<key>size</key>
			<integer>2248</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/udev/rules.d/95-dm-notify.rules</string>
			<key>mtime</key>
			<integer>1734645632</integer>
			<key>sha256</key>
			<string>178166828c9ef2a88d9dde7fcaf12b1944df2fbda2188fe0e062d84fd060117e</string>
			<key>size</key>
			<integer>482</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/dmeventd.8</string>
			<key>mtime</key>
			<integer>1734645632</integer>
			<key>sha256</key>
			<string>ab9bc691c9990c5d0390d8b1a5a3ffbedf30a4ca452d4c694a0becfde48f5691</string>
			<key>size</key>
			<integer>5849</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/dmsetup.8</string>
			<key>mtime</key>
			<integer>1734645632</integer>
			<key>sha256</key>
			<string>e8c46875032830e117ae7c18665892e7ec510779b34885cfef70854b6ef4ff94</string>
			<key>size</key>
			<integer>26580</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/dmstats.8</string>
			<key>mtime</key>
			<integer>1734645632</integer>
			<key>sha256</key>
			<string>ce142fbbdabb246f92975bcf2c157a153b0e6efb915b14e57d7b31a3c710ea93</string>
			<key>size</key>
			<integer>37354</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/sv/dmeventd/log/supervise</string>
			<key>mtime</key>
			<integer>1734645632</integer>
			<key>target</key>
			<string>/run/runit/supervise.dmeventd-log</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/sv/dmeventd/supervise</string>
			<key>mtime</key>
			<integer>1734645632</integer>
			<key>target</key>
			<string>/run/runit/supervise.dmeventd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/dmstats</string>
			<key>mtime</key>
			<integer>1734645632</integer>
			<key>target</key>
			<string>/usr/bin/dmsetup</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libdevmapper-event-lvm2mirror.so</string>
			<key>mtime</key>
			<integer>1734645632</integer>
			<key>target</key>
			<string>/usr/lib/device-mapper/libdevmapper-event-lvm2mirror.so</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libdevmapper-event-lvm2raid.so</string>
			<key>mtime</key>
			<integer>1734645632</integer>
			<key>target</key>
			<string>/usr/lib/device-mapper/libdevmapper-event-lvm2raid.so</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libdevmapper-event-lvm2snapshot.so</string>
			<key>mtime</key>
			<integer>1734645632</integer>
			<key>target</key>
			<string>/usr/lib/device-mapper/libdevmapper-event-lvm2snapshot.so</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libdevmapper-event-lvm2thin.so</string>
			<key>mtime</key>
			<integer>1734645632</integer>
			<key>target</key>
			<string>/usr/lib/device-mapper/libdevmapper-event-lvm2thin.so</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libdevmapper-event-lvm2vdo.so</string>
			<key>mtime</key>
			<integer>1734645632</integer>
			<key>target</key>
			<string>/usr/lib/device-mapper/libdevmapper-event-lvm2vdo.so</string>
		</dict>
	</array>
</dict>
</plist>
