<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conf_files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/default/efibootmgr-kernel-hook</string>
			<key>mtime</key>
			<integer>1659080762</integer>
			<key>sha256</key>
			<string>5da7618fb85b1026aa386a480086cdabda3d730c537e7d9dc0c7aeccce31696e</string>
			<key>size</key>
			<integer>377</integer>
		</dict>
	</array>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/default</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/kernel.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/kernel.d/post-install</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/kernel.d/post-remove</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/efibootmgr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/kernel.d/post-install/50-efibootmgr</string>
			<key>mtime</key>
			<integer>1659080762</integer>
			<key>sha256</key>
			<string>3ce6a02b5711604fa77e847b82c89a24daa496ef39561b09880ee531f9ac03aa</string>
			<key>size</key>
			<integer>1160</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/kernel.d/post-remove/50-efibootmgr</string>
			<key>mtime</key>
			<integer>1659080762</integer>
			<key>sha256</key>
			<string>30c9e8d64a5329a6e75a87785f673ebc9bcef253eda9c966e1da780bc24ebe21</string>
			<key>size</key>
			<integer>496</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/efibootdump</string>
			<key>mtime</key>
			<integer>1659080762</integer>
			<key>sha256</key>
			<string>defb03365f25050f269a6bd8013f89362ba7a6f20ce7c6baeb9fea463bdcbbca</string>
			<key>size</key>
			<integer>18424</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/efibootmgr</string>
			<key>mtime</key>
			<integer>1659080762</integer>
			<key>sha256</key>
			<string>b41d4dd2011def65dc63f48a45d4bae50505a29d38fdc3998873f32a0c06f73a</string>
			<key>size</key>
			<integer>44408</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/efibootmgr/README.voidlinux</string>
			<key>mtime</key>
			<integer>1659080762</integer>
			<key>sha256</key>
			<string>e32de9276e48bc0272993edef54b3b52ad07477898a2bd7a079fb7c8bc2f18f7</string>
			<key>size</key>
			<integer>949</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/efibootdump.8</string>
			<key>mtime</key>
			<integer>1659080762</integer>
			<key>sha256</key>
			<string>281da79fdbe476a89ca624c18cce30bf060cb4f18983825919469b4fb4db81cc</string>
			<key>size</key>
			<integer>1125</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/efibootmgr.8</string>
			<key>mtime</key>
			<integer>1659080762</integer>
			<key>sha256</key>
			<string>3f03f65c6df1d724a1669fe5d6e4aec490c07efb09de47c20a79d07dde5cdd67</string>
			<key>size</key>
			<integer>8295</integer>
		</dict>
	</array>
</dict>
</plist>
