<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conf_files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/default/grub</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>df0d356a965b90b4f395af58769b7a56e1b8752440dda2412e50bdcbac8c3894</string>
			<key>size</key>
			<integer>673</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/grub.d/00_header</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>1f7a3b2f0930a5cf08ea2871e7d615b82300165a1cc340abdd17cd245ec1a6d9</string>
			<key>size</key>
			<integer>8904</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/grub.d/10_linux</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>39a174054a528e5c1313a350ec90fe81c07f0aa0921560b5129f2b78b5968ee7</string>
			<key>size</key>
			<integer>11986</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/grub.d/20_linux_xen</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>a922ec43c457796be1a50e1d5156e387f750868de90a64f5e570fe3756830ab8</string>
			<key>size</key>
			<integer>14341</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/grub.d/25_bli</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>42e04f5bac1965535cb6bdb30c62bb199b1ba21d1ec6b22d0da159dfc925b8bb</string>
			<key>size</key>
			<integer>786</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/grub.d/30_os-prober</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>749acd0a0dd58b543b052234ea9bcffbae479f1f160a45dccb14dac065c0e077</string>
			<key>size</key>
			<integer>12423</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/grub.d/30_uefi-firmware</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>6096dd5fab610ab427af95c21a818a1ad83ad55561537368b26ab6c28a6e0c49</string>
			<key>size</key>
			<integer>1119</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/grub.d/40_custom</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>894dd8e4ca1bb62e055f674f9390a39c4643ebdd1014702feef000c47e36a003</string>
			<key>size</key>
			<integer>214</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/grub.d/41_custom</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>44b8dc291dc04537f5d9a8fec7f6ebb209fbfa3101d5b1085230ace35b7f6c31</string>
			<key>size</key>
			<integer>215</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/grub.d/README</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>cd72738c7dfd3b205e4e91528c0d25169bb3e8e6ebeec11c916662d8d0c3e47c</string>
			<key>size</key>
			<integer>483</integer>
		</dict>
	</array>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/default</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/grub.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/kernel.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/kernel.d/post-install</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/kernel.d/post-remove</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/grub</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de@hebrew</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de@hebrew/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de_CH</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de_CH/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en@arabic</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en@arabic/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en@cyrillic</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en@cyrillic/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en@greek</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en@greek/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en@hebrew</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en@hebrew/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en@piglatin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en@piglatin/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en@quot</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en@quot/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ka</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ka/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/kernel.d/post-install/50-grub</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>fb6280b6a93311e69154ba1e75a4c44075cdcad410ed906a6a52932a2b2c9683</string>
			<key>size</key>
			<integer>319</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/kernel.d/post-remove/50-grub</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>fb6280b6a93311e69154ba1e75a4c44075cdcad410ed906a6a52932a2b2c9683</string>
			<key>size</key>
			<integer>319</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/grub-bios-setup</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>ab7857cf7fa26770f7e9bd094357755b04d1d7b8c8c1e9eac8bc048b62729890</string>
			<key>size</key>
			<integer>803288</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/grub-editenv</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>6572519005969a59eb256021cbf6fc045f5df5a1a1f6492f0d0bdde6312dcc03</string>
			<key>size</key>
			<integer>333328</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/grub-file</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>a35c3a1d25d2e479473c399d76e549cb5dc26867918b8c7f7a3281a12b708835</string>
			<key>size</key>
			<integer>614200</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/grub-glue-efi</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>e3823345fb9fe7a88d1db935eea4a08ae57fef4053b2d9e11711a93e77f382db</string>
			<key>size</key>
			<integer>134384</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/grub-install</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>63d99b1394f7b353d0efacf81ca20499120288152d8dc03238d534428bfe58e4</string>
			<key>size</key>
			<integer>949064</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/grub-kbdcomp</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>55f915955ccca1ffb9c062f5178d88a7017ea5fccdb3795510554e367b81fb52</string>
			<key>size</key>
			<integer>1671</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/grub-macbless</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>45b9a3f13291336fa4cdd7151bd901a8419d45c4085e06508769788ec8d91758</string>
			<key>size</key>
			<integer>803000</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/grub-mkconfig</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>f4c2cbed0d763f06d3d0025f9ccd2767cb65ea53db3afed91137ab958accb2fa</string>
			<key>size</key>
			<integer>8439</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/grub-mkimage</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>127a30b6e70c7d3f35bc191ee2b36d9e5f6ddeedb5b682e64518888283fc6131</string>
			<key>size</key>
			<integer>333384</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/grub-mklayout</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>40f596bd751e4348d787c28f0ca2a6071a1fb0413b42b95978b79e13ea2d7c15</string>
			<key>size</key>
			<integer>134712</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/grub-mknetdir</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>14d22080c1e184172e082f832c3c523a89cf58b2cd79b90ff329f2f66c0ddbd3</string>
			<key>size</key>
			<integer>399592</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/grub-mkpasswd-pbkdf2</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>bd85a9b539d70636814411d247f1261da5920b5f0a028f67816635312abf6897</string>
			<key>size</key>
			<integer>134792</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/grub-mkrelpath</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>fbc634b7f80348dffa2b6e786cb44c59b4fec9d0dbfa312db6b4c919eb80b08d</string>
			<key>size</key>
			<integer>266464</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/grub-mkrescue</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>5c579ee5c9d67856e45bf14957eea5c169567679084e47e48d3f6be76b236f34</string>
			<key>size</key>
			<integer>813304</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/grub-mkstandalone</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>9179483f302a0be99cc8f9d9b76c73faa388f5b446ad7954400d568af8d53f83</string>
			<key>size</key>
			<integer>412144</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/grub-mount</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>2f7353da71b2e0096a6092eea2704baecb48906956504c37f85b21d26268fe23</string>
			<key>size</key>
			<integer>537072</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/grub-probe</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>3d3b185bf7a82b19612fcca03499a6404758745569ad4eac75937e32b021df8e</string>
			<key>size</key>
			<integer>803288</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/grub-reboot</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>eb8536d9d9136873a83282a31bd365d1bfc3e03a146c9ddd7a4cd7ae7591ed53</string>
			<key>size</key>
			<integer>4809</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/grub-render-label</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>e370cf84c85a7ce90f3968224bf5aa01b57d48ce362ab69a9544cbde5d622654</string>
			<key>size</key>
			<integer>614744</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/grub-script-check</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>344b5c48f0afa06b528de0d27c3b932cd111a2603c2be655e38c232fe435538d</string>
			<key>size</key>
			<integer>134240</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/grub-set-default</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>71423837b8e5046a34727c16bc2fb5a6d2c5e630394cb27ab13527acb09c5974</string>
			<key>size</key>
			<integer>3535</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/grub-syslinux2cfg</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>e99f1aea8cd132e326f2a40bdd5743e6094dbfd2cc896f0d828986d38fd54334</string>
			<key>size</key>
			<integer>537520</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/update-grub</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>83b9000af233ae2cfc8c4379b221dd6c1ec7d7b7d4f28119cbcb22f9ce4f1d74</string>
			<key>size</key>
			<integer>55</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/grub</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>28f822b1835d810b6cfbb03b159416880f48858974c5fc9fc3c5e45db686c658</string>
			<key>size</key>
			<integer>11441</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/grub/ascii.h</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>678793a5ac28c7e19776259e7410a5c0e356b8b8be2c3cc50d10f0fba5a5540f</string>
			<key>size</key>
			<integer>12506</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/grub/ascii.pf2</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>c18cf6e4401da8413d286517cbef05ae9fe9ee007124ddd031d998d8150767fc</string>
			<key>size</key>
			<integer>5004</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/grub/euro.pf2</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>f59a5d7ba759b623b7ac8c802fffa89e1a7d3bff5d388acc9b212a49e8058d76</string>
			<key>size</key>
			<integer>52207</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/grub/grub-mkconfig_lib</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>b2764c725f35590d2aa7bbc9b2384e43099097e207bb18a7cc8fa0fba503ac01</string>
			<key>size</key>
			<integer>9901</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/grub/unicode.pf2</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>4fb7cc41052c130f489184b266d300d8a8a82f5e5b231ce6bf9178d5ae048e72</string>
			<key>size</key>
			<integer>2392304</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/grub/widthspec.h</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>2469f65a059ee47a3e18e6aaa2961c17eb66f731744afd47027a4527ebe6d91a</string>
			<key>size</key>
			<integer>49238</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/grub-dev.info.gz</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>84b5c07f9d305b48cd90669e10f571bd3d497319dbc71635113463f4fa9452a4</string>
			<key>size</key>
			<integer>37683</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/grub.info-1.gz</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>50ae7c30da2937e3b156e0b855e4594440c76880194b6555c07d883c2827b762</string>
			<key>size</key>
			<integer>87559</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/grub.info-2.gz</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>aeb1bed0cf9339e64098f369bf3b5a2d6d5aa2438e1719726dbbac2eaf435ef9</string>
			<key>size</key>
			<integer>13629</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/grub.info.gz</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>7f7ee3cb6ce8f20cc00a8ca3e0169f73ca5415f3238b36678b874ac6a52a8438</string>
			<key>size</key>
			<integer>3540</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast/LC_MESSAGES/grub.mo</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>84f1001a674af15cf66ff87d546437a1e39caa337e1f04220c9d9293d50aa8ec</string>
			<key>size</key>
			<integer>127089</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/grub.mo</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>4bfe7bd7a92363e1f83ee60248a58c742a36a34c0808becccb2fd7a89be69f8d</string>
			<key>size</key>
			<integer>127966</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/grub.mo</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>7d97f55ad6246c2400ca4654c5077293b14b2b4676dde0203ffa6952cde127eb</string>
			<key>size</key>
			<integer>119228</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/grub.mo</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>03c5fa6df0aa43efc75bc931fe53441279f0056fb0b09295010f3ebd21951486</string>
			<key>size</key>
			<integer>150650</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de@hebrew/LC_MESSAGES/grub.mo</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>e6e95aca75c6ef79018e36af0ecbb28128efc516806d8d7dff748b954f5d065f</string>
			<key>size</key>
			<integer>226648</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de_CH/LC_MESSAGES/grub.mo</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>4662c421d4215c25c2f21fe6d00f6a10191e329ad6f056682b9ed20d6c0f813f</string>
			<key>size</key>
			<integer>150657</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en@arabic/LC_MESSAGES/grub.mo</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>9e7b4e7cda93302c2b7280baecb361418026d133eafece60acd6b540804ab882</string>
			<key>size</key>
			<integer>188002</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en@cyrillic/LC_MESSAGES/grub.mo</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>a5f673528e468bc791c04b712e53daec14b2a545fb175f70ed875c5d0954dc02</string>
			<key>size</key>
			<integer>177539</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en@greek/LC_MESSAGES/grub.mo</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>98080728aa957227c7747729e505b84beb13780f3fb7501e30fa34eb2ff60cb0</string>
			<key>size</key>
			<integer>177536</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en@hebrew/LC_MESSAGES/grub.mo</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>06c16702c05d6db938d141bdebd52f5766fbcebcd5ba506f6e5506e93394a95a</string>
			<key>size</key>
			<integer>203723</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en@piglatin/LC_MESSAGES/grub.mo</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>6727305418969aefc67ce88e8730bba0d82324fd19ceca04d7a35036081bd110</string>
			<key>size</key>
			<integer>157104</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/en@quot/LC_MESSAGES/grub.mo</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>e2e67290caad42bab4fbdbaee64cbad56beef657f84e9010d61e3aa2191e2af1</string>
			<key>size</key>
			<integer>138592</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES/grub.mo</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>3b0484e8382be8bfa0a8bd9f55ef4620e24b88e7abc3f8f2cc063532ae6f91c3</string>
			<key>size</key>
			<integer>43394</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/grub.mo</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>991f93ece4918f1e3c9ff522761db18bf590f30838222c3e6989a7a8b59cf110</string>
			<key>size</key>
			<integer>130267</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/grub.mo</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>199e862e93cf70638a5ff69cc5cbe1e95139aa6f3eccfc94c4fd1041d6fa0d5f</string>
			<key>size</key>
			<integer>132479</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/grub.mo</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>7f95113129ffe9e6f42cd4c6496703bc2ea2104e61eabdeed55acc80b1fdb980</string>
			<key>size</key>
			<integer>157703</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES/grub.mo</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>a6626bee468483b0af01e16af9df4d712bc7a638c7134e3f528f5a419eb51200</string>
			<key>size</key>
			<integer>103027</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES/grub.mo</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>f02a3f3dcc36f958254b2caed150b3720c828757f80d1ae7e29c6f44ee586345</string>
			<key>size</key>
			<integer>91753</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES/grub.mo</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>290f9091250ea68ad7704f1441c05b426fb2e4eadf898d5d90af5dcd4c4aa239</string>
			<key>size</key>
			<integer>130252</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/grub.mo</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>1c4a9317fe2dc25bae165ef5e7134ed9bc568b749fb4ef6e5d3a8c8573c6a58b</string>
			<key>size</key>
			<integer>137952</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES/grub.mo</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>3c744ed2f1ddf9490b649c5c194059d494194bc4e519875f799988128043d92d</string>
			<key>size</key>
			<integer>28229</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/grub.mo</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>d357d4438ad8a3a4d153119510c0b192feb686f5f27a7a0a0ab4d41f67b32719</string>
			<key>size</key>
			<integer>116936</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/grub.mo</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>57edbea1bf365c7025f2533cb9e83eee42bac60abe850f9abd3e085b6e7d9fd9</string>
			<key>size</key>
			<integer>45083</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ka/LC_MESSAGES/grub.mo</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>20cdf12df020e745adc0f01016ef120ae722f0eb88f3484b43bb5691e3ae6fb9</string>
			<key>size</key>
			<integer>156882</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES/grub.mo</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>fbe0d84f63d39b7eb6720db2d4d2747cecbce84e3fa680bb30f1cee5be016045</string>
			<key>size</key>
			<integer>156029</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lg/LC_MESSAGES/grub.mo</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>d59be16be9fce6407cbf5495562ed921db7e6701bf05a59a6a7d7075ed86cb92</string>
			<key>size</key>
			<integer>7774</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES/grub.mo</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>3f62befddcccf94c72c21af49992ab1b5a8ce8bc1985583cdecf5f572641178c</string>
			<key>size</key>
			<integer>100930</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES/grub.mo</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>a13e7bd74dc56ad44e7456c902956e552df02f50bcf4e8fbdd132af810a11121</string>
			<key>size</key>
			<integer>128143</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/grub.mo</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>796791471c2d9ea6a5d64750d0b89150046330d530234fe61926c3e3b2162fe0</string>
			<key>size</key>
			<integer>126941</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pa/LC_MESSAGES/grub.mo</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>7f59205538f06c92193c5b758b56cdc43d8490ddc0d81a81b87228fdb8a751d5</string>
			<key>size</key>
			<integer>61811</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/grub.mo</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>607339ef164a99d5c12add553b688b9ca7ec1607e19ddeaf077ae2ac65384e04</string>
			<key>size</key>
			<integer>149584</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES/grub.mo</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>1e16f246f13d4c1d696fabf7a5cfaaed138612d4d0a78fa10ffa2dfc5bef5ff2</string>
			<key>size</key>
			<integer>131747</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/grub.mo</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>95a08467cfa514ef050213460448748d3483ab51c03f7b67817a9e10781f3f8d</string>
			<key>size</key>
			<integer>86581</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES/grub.mo</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>fac3f10578379ef8a50673023510d572a65a8bf08a77bac1b12a9be4103df70a</string>
			<key>size</key>
			<integer>158375</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/grub.mo</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>1e187a14a30bd09365ef2c0da0bfade6a5f07bb2067176018dfa210f9903cb65</string>
			<key>size</key>
			<integer>170229</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES/grub.mo</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>33d529d97a821303254e11e218d19fa477121aeded3f535d7209fff4cec33b99</string>
			<key>size</key>
			<integer>93925</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES/grub.mo</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>68be026ffec46d7f6a5096dd69f68709ac5919f92399e9a36fecf313e7a550bf</string>
			<key>size</key>
			<integer>190584</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/grub.mo</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>966fe79baf90fe8d52982ba3fbea56cef6e6f9bc2fb31a63c2a1c8fec627e0ed</string>
			<key>size</key>
			<integer>128361</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/grub.mo</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>3b786fecaed5df6785701303afbaee2da56501cae8a38657ff338b6cc68617ab</string>
			<key>size</key>
			<integer>83570</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/grub.mo</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>cfe0b6e3b3762048359e0db5a0b29f662591abf040e73fe48e35d02e7e3440cc</string>
			<key>size</key>
			<integer>199280</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES/grub.mo</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>05f125b73a61de402ca7ea598c618b7b3cf8e3bad47f54153481280386e7a676</string>
			<key>size</key>
			<integer>162663</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/grub.mo</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>2349075b16293c6d28554f5f757e544a75630f894961a382db63abcdb9f0e452</string>
			<key>size</key>
			<integer>139130</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES/grub.mo</string>
			<key>mtime</key>
			<integer>1715538439</integer>
			<key>sha256</key>
			<string>cb4dfd0f9951c864b92dffb488e9ff045d3600e825adf12bd65b13e25c49909d</string>
			<key>size</key>
			<integer>30315</integer>
		</dict>
	</array>
</dict>
</plist>
