<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conf_files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/mtools.conf</string>
			<key>sha256</key>
			<string>daf5b931a3787bada9fda240bd4e4f8075874398fff5dd80fcf83f29d2dc6174</string>
			<key>size</key>
			<integer>2617</integer>
		</dict>
	</array>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/amuFormat.sh</string>
			<key>sha256</key>
			<string>2b3c810c3b0e119c5c20652ebee7364907be6a89f77fed36e5102aab8cd6a317</string>
			<key>size</key>
			<integer>2668</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mcheck</string>
			<key>sha256</key>
			<string>1aabb4bc711727319164b56f743974085f1c04a94f3590a91f0fffa833d2bcaf</string>
			<key>size</key>
			<integer>1667</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mcomp</string>
			<key>sha256</key>
			<string>300526322ec087c38a7de11379da8878898b805e32b0ff3b18a39b11734ead5d</string>
			<key>size</key>
			<integer>847</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mkmanifest</string>
			<key>sha256</key>
			<string>c0e7218d4e00dec354978d486a11842f9724ba456188e13bcab0943ce69df879</string>
			<key>size</key>
			<integer>67680</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mtools</string>
			<key>sha256</key>
			<string>c5dbd6e098e6d0125f1f9fc9d81f48c467f2768f655bd9e54f3eee63461b5503</string>
			<key>size</key>
			<integer>201696</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mxtar</string>
			<key>sha256</key>
			<string>68cde7076f9b718f81d550db63e50e59df38566fa2f267c9770b7c4c152ac943</string>
			<key>size</key>
			<integer>784</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/tgz</string>
			<key>sha256</key>
			<string>8364e4af1db354ccf71424ea8b3d9f1a19f0b8a50e93d5b7e15231d0653ebe2d</string>
			<key>size</key>
			<integer>2295</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/uz</string>
			<key>sha256</key>
			<string>5b12515832e09a8ba7878e5908ddf42f02cc64fbd8b242a6945ac248737f706f</string>
			<key>size</key>
			<integer>2541</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/mtools.info</string>
			<key>sha256</key>
			<string>aaf856f01e982c06332efb8890098c69c7dbb62689f7c7856b33100a4a1d1ea2</string>
			<key>size</key>
			<integer>118866</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/floppyd.1</string>
			<key>sha256</key>
			<string>cb67b9c3d45b0226a106e3d96ddee6f35dba4c57ee9d1429793a0b6c864887c8</string>
			<key>size</key>
			<integer>7491</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/floppyd_installtest.1</string>
			<key>sha256</key>
			<string>16ba3e2befc99f25aba5b9dc5a912bd47ddaea90f83b79a1578afa24ccb12e5b</string>
			<key>size</key>
			<integer>2346</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/mattrib.1</string>
			<key>sha256</key>
			<string>5c9a375ab1cc0367cc639d0c0e2395144fc83a5c124be59f235a1320ecd13d49</string>
			<key>size</key>
			<integer>3653</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/mbadblocks.1</string>
			<key>sha256</key>
			<string>5ab1cf90f8b427829fcbfdcfe82593f7d950ac9fdfc6e6c75b7cbe5879d48a56</string>
			<key>size</key>
			<integer>3051</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/mcat.1</string>
			<key>sha256</key>
			<string>ecf7faccdf82768073cd955e73fd674442f46a96eda4a02c2baba58782c06758</string>
			<key>size</key>
			<integer>2518</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/mcd.1</string>
			<key>sha256</key>
			<string>0606095df25652368478bfabd6afde68ce53580b621591611a70579591f758f5</string>
			<key>size</key>
			<integer>2658</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/mcopy.1</string>
			<key>sha256</key>
			<string>5919b1fd5717fd2ae26922f54c1823a5fe13ac2c496ea5846a5a45129c8b983e</string>
			<key>size</key>
			<integer>5221</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/mdel.1</string>
			<key>sha256</key>
			<string>db71c99255c60c3b21154e9c4a0e998b42367862056a23189945f93589b0d8fc</string>
			<key>size</key>
			<integer>2037</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/mdeltree.1</string>
			<key>sha256</key>
			<string>578e43a1d33b37f6e7be52a3853632551f2c4b50e35d0824263339de296220c1</string>
			<key>size</key>
			<integer>2136</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/mdir.1</string>
			<key>sha256</key>
			<string>0b46a4423ee73b812c2f6d379b83fab110766546672f9a2c5174fdb20f64fd53</string>
			<key>size</key>
			<integer>3064</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/mdoctorfat.1</string>
			<key>sha256</key>
			<string>a139ed3f98ed65fec1c5f59d4513504e3dc505800a73c31ab097e7b69d9d6789</string>
			<key>size</key>
			<integer>2927</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/mdu.1</string>
			<key>sha256</key>
			<string>cd41f58931ce5f5b92f23997050191a56f48a927a975f8960e6b1fe87c70982e</string>
			<key>size</key>
			<integer>2226</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/mformat.1</string>
			<key>sha256</key>
			<string>6f8304274de03141a8ce9b03a2780a5827cffbbc47c057eb00dc4d243f00fed8</string>
			<key>size</key>
			<integer>10932</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/minfo.1</string>
			<key>sha256</key>
			<string>d4e312fa9915f722a060c6dc9cb03726a972c1cb5a41f6d600dc60b446c64323</string>
			<key>size</key>
			<integer>2246</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/mkmanifest.1</string>
			<key>sha256</key>
			<string>7db832853104f0f1d282d39a2edf0417ed648501078c7a61ffa07a6196fd1f1e</string>
			<key>size</key>
			<integer>3809</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/mlabel.1</string>
			<key>sha256</key>
			<string>4a56468871ada8f28059c0ee725128db8c80bb01a2618e6b8063e8497b6052e2</string>
			<key>size</key>
			<integer>2985</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/mmd.1</string>
			<key>sha256</key>
			<string>dae7366bf96cf2239d85030c282d4b2595fdfdc02771f0056f7693c4a86c91d2</string>
			<key>size</key>
			<integer>2027</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/mmount.1</string>
			<key>sha256</key>
			<string>6de6df5d6f9e5a3cc95195c4fa0e80e8d434e63869d048a16ca938891fcf2118</string>
			<key>size</key>
			<integer>2277</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/mmove.1</string>
			<key>sha256</key>
			<string>ae50cfcd89a87afd1d244b29f001b1493d725801be1466fc1583eb4cdd8d4d3c</string>
			<key>size</key>
			<integer>2595</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/mpartition.1</string>
			<key>sha256</key>
			<string>ebbb7525dd19e7f8018900c758240436223aa79d6b54e729f0cd83dafca63873</string>
			<key>size</key>
			<integer>7733</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/mrd.1</string>
			<key>sha256</key>
			<string>1fa2df943f8f2716ef622e09a61437ff78d2ff05b6dfd53c338c1a272e79a412</string>
			<key>size</key>
			<integer>2048</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/mren.1</string>
			<key>sha256</key>
			<string>651d9014662802a2f947cee057733f33bbc048d624c9752e8c9077e29058ba13</string>
			<key>size</key>
			<integer>2495</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/mshortname.1</string>
			<key>sha256</key>
			<string>1f41c30b5fa2746ac8c86ac4ec5e66ca695cbe3b9f6597f9f3f57109e369a6e7</string>
			<key>size</key>
			<integer>1984</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/mshowfat.1</string>
			<key>sha256</key>
			<string>6772832ff70f808bbe3c68d2a59bc08181e0e636a03f75a81a2a37cdc6262237</string>
			<key>size</key>
			<integer>2094</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/mtools.1</string>
			<key>sha256</key>
			<string>7c79d798c8bbc3ccacfe702e9ae9af615283bcafb50bf8f85ce51fda1bb081a3</string>
			<key>size</key>
			<integer>18986</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/mtoolstest.1</string>
			<key>sha256</key>
			<string>d2d4e1838d835fc078b470b10352c87f6e740259e8bb5eb4dc3f253c61c86643</string>
			<key>size</key>
			<integer>2228</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/mtype.1</string>
			<key>sha256</key>
			<string>d03037d5955d634fbfd4e72a44a44382e4c6cee88a66c57ad583608be499d1f3</string>
			<key>size</key>
			<integer>2698</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/mzip.1</string>
			<key>sha256</key>
			<string>112abb6e3975dfdd903d7dd97b4183ff10d55f80a35122f51a76e45e62bd8a1d</string>
			<key>size</key>
			<integer>3884</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/mtools.5</string>
			<key>sha256</key>
			<string>5be21364947d4f2915d4968635e40e9ac83f7a337da53662cb2ad6a3a03fa755</string>
			<key>size</key>
			<integer>21152</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/lz</string>
			<key>target</key>
			<string>/usr/bin/uz</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mattrib</string>
			<key>target</key>
			<string>/usr/bin/mtools</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mbadblocks</string>
			<key>target</key>
			<string>/usr/bin/mtools</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mcat</string>
			<key>target</key>
			<string>/usr/bin/mtools</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mcd</string>
			<key>target</key>
			<string>/usr/bin/mtools</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mcopy</string>
			<key>target</key>
			<string>/usr/bin/mtools</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mdel</string>
			<key>target</key>
			<string>/usr/bin/mtools</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mdeltree</string>
			<key>target</key>
			<string>/usr/bin/mtools</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mdir</string>
			<key>target</key>
			<string>/usr/bin/mtools</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mdoctorfat</string>
			<key>target</key>
			<string>/usr/bin/mtools</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mdu</string>
			<key>target</key>
			<string>/usr/bin/mtools</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mformat</string>
			<key>target</key>
			<string>/usr/bin/mtools</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/minfo</string>
			<key>target</key>
			<string>/usr/bin/mtools</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mlabel</string>
			<key>target</key>
			<string>/usr/bin/mtools</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mmd</string>
			<key>target</key>
			<string>/usr/bin/mtools</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mmount</string>
			<key>target</key>
			<string>/usr/bin/mtools</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mmove</string>
			<key>target</key>
			<string>/usr/bin/mtools</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mpartition</string>
			<key>target</key>
			<string>/usr/bin/mtools</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mrd</string>
			<key>target</key>
			<string>/usr/bin/mtools</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mren</string>
			<key>target</key>
			<string>/usr/bin/mtools</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mshortname</string>
			<key>target</key>
			<string>/usr/bin/mtools</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mshowfat</string>
			<key>target</key>
			<string>/usr/bin/mtools</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mtoolstest</string>
			<key>target</key>
			<string>/usr/bin/mtools</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mtype</string>
			<key>target</key>
			<string>/usr/bin/mtools</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mzip</string>
			<key>target</key>
			<string>/usr/bin/mtools</string>
		</dict>
	</array>
</dict>
</plist>
