<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/linux-boot-probes</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/linux-boot-probes/mounted</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/os-prober</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/os-probes</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/os-probes/init</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/os-probes/mounted</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/os-prober</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/linux-boot-prober</string>
			<key>sha256</key>
			<string>3e83b944c7f6099fe7dc6ae5b0bac2e8193c695b4ef8d2121b7f44bb71c68da0</string>
			<key>size</key>
			<integer>1577</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/os-prober</string>
			<key>sha256</key>
			<string>338efc0351d47efd2d28b1f9b11af144fe7f9b837ec0fedc5c0e12b3654758e6</string>
			<key>size</key>
			<integer>4527</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/linux-boot-probes/50mounted-tests</string>
			<key>sha256</key>
			<string>e0ba6e63a03ce58ea423d2b3423444d04c1a13844720969065733586e2696aa2</string>
			<key>size</key>
			<integer>1811</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/linux-boot-probes/mounted/40grub2</string>
			<key>sha256</key>
			<string>820c638c1a1dedbfb77522784fa51150199296df4c4f5d2316bb73cce06c0586</string>
			<key>size</key>
			<integer>2769</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/linux-boot-probes/mounted/90fallback</string>
			<key>sha256</key>
			<string>f224b89f3d379751d87b39ba7a63489226879d4e9dea798e54590059c4532004</string>
			<key>size</key>
			<integer>2102</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/os-prober/newns</string>
			<key>sha256</key>
			<string>34a832458a917bd154af2fcca8a046a91e64932060e5232526fbb11b16bbc079</string>
			<key>size</key>
			<integer>67576</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/os-probes/50mounted-tests</string>
			<key>sha256</key>
			<string>22714ed8a929e046f0110272cc3f522ee83d4bb1f14e76ceb2e7e404dcc065ed</string>
			<key>size</key>
			<integer>2085</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/os-probes/init/10filesystems</string>
			<key>sha256</key>
			<string>b0168b1b8671c326ac6543aa7625b98d8a8adbfaa736db9df83d605ce9004748</string>
			<key>size</key>
			<integer>1158</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/os-probes/mounted/40lsb</string>
			<key>sha256</key>
			<string>b597c834f9894a0e9d98cc7ce20b62c75ace73c7860798950321fccc35164ef2</string>
			<key>size</key>
			<integer>891</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/os-probes/mounted/90linux-distro</string>
			<key>sha256</key>
			<string>cf68ca1a89906134a44088ed6fcb406e00d9b171b1c7b18cbe5176eb21b6ffc2</string>
			<key>size</key>
			<integer>6124</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/os-probes/mounted/90linux-distro.orig</string>
			<key>sha256</key>
			<string>8fc87ac363e03398739a714f5317a925c87aeacf59c4b193fcacd219cf880fc3</string>
			<key>size</key>
			<integer>5949</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/os-prober/common.sh</string>
			<key>sha256</key>
			<string>154be223dcf2c6926eb60778986a24662671e98ddf4ab009145648c884d84b19</string>
			<key>size</key>
			<integer>6706</integer>
		</dict>
	</array>
</dict>
</plist>
