<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/popt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/is</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/is/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ka</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ka/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/si</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/si/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/wa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/wa/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libpopt.so.0.0.2</string>
			<key>mtime</key>
			<integer>1675628572</integer>
			<key>sha256</key>
			<string>a0ad225c6cf1faa5fc467391f248e9616d2942ce8867214fefea90ecee21cac3</string>
			<key>size</key>
			<integer>68016</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/popt/COPYING</string>
			<key>mtime</key>
			<integer>1675628572</integer>
			<key>sha256</key>
			<string>2b488b239927935f34769a39309c0680be16e3725a1f55dbb06ed20d53852801</string>
			<key>size</key>
			<integer>1061</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/popt.mo</string>
			<key>mtime</key>
			<integer>1675628572</integer>
			<key>sha256</key>
			<string>ef66645b9cc1f142d8b210eeedb96653917b9519f4afabcbcb21689cb9fbc501</string>
			<key>size</key>
			<integer>2130</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/popt.mo</string>
			<key>mtime</key>
			<integer>1675628572</integer>
			<key>sha256</key>
			<string>92cf6a762876b290f208445baa5db5933bd1ab2ca194f9834f82f5190a5511db</string>
			<key>size</key>
			<integer>2160</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/popt.mo</string>
			<key>mtime</key>
			<integer>1675628572</integer>
			<key>sha256</key>
			<string>e02b5591c6ccab84b0553b5672f1ec19f78cac44c335eb6ed36b2bf6b28390ab</string>
			<key>size</key>
			<integer>2364</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/popt.mo</string>
			<key>mtime</key>
			<integer>1675628572</integer>
			<key>sha256</key>
			<string>e7c042e6d02990b67b51978200372712deea2b135f2ac253b20144c14c8b1cb7</string>
			<key>size</key>
			<integer>2300</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES/popt.mo</string>
			<key>mtime</key>
			<integer>1675628572</integer>
			<key>sha256</key>
			<string>ee38f245bd37b74a5abafd5c4393ace796d7c0fc7c138c9fd38f368304c57d90</string>
			<key>size</key>
			<integer>2151</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/popt.mo</string>
			<key>mtime</key>
			<integer>1675628572</integer>
			<key>sha256</key>
			<string>7badb844b90150213407c876a247d696672d4294e3df78314c9d96142369a109</string>
			<key>size</key>
			<integer>2434</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/popt.mo</string>
			<key>mtime</key>
			<integer>1675628572</integer>
			<key>sha256</key>
			<string>c273fbe8b83f65ddb2f54a52f80c8fee8834f7884e158c62f0645019fa7fb89f</string>
			<key>size</key>
			<integer>2546</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/popt.mo</string>
			<key>mtime</key>
			<integer>1675628572</integer>
			<key>sha256</key>
			<string>8e1d16cca5145b54a3d8be26896845104487e64f1313e4e3467b61c44908d72f</string>
			<key>size</key>
			<integer>2466</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga/LC_MESSAGES/popt.mo</string>
			<key>mtime</key>
			<integer>1675628572</integer>
			<key>sha256</key>
			<string>093b873f714d6710b864a9d4062205113b8e3b08cf928c072448000239ab72a1</string>
			<key>size</key>
			<integer>2243</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES/popt.mo</string>
			<key>mtime</key>
			<integer>1675628572</integer>
			<key>sha256</key>
			<string>28b7006855a89bec2291911a76ee83d70bc006484b91fffb1fc9d40c31119e05</string>
			<key>size</key>
			<integer>1556</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/popt.mo</string>
			<key>mtime</key>
			<integer>1675628572</integer>
			<key>sha256</key>
			<string>80e70d072f86183761b3a010b860f92d1b6c8ca74fcad351c5a42d4cea70cf41</string>
			<key>size</key>
			<integer>2498</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES/popt.mo</string>
			<key>mtime</key>
			<integer>1675628572</integer>
			<key>sha256</key>
			<string>3fc36dfcf1b9805c521def0dd15da39816eefcafb3baaee9e7cd1a6987e3a0e1</string>
			<key>size</key>
			<integer>2343</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/is/LC_MESSAGES/popt.mo</string>
			<key>mtime</key>
			<integer>1675628572</integer>
			<key>sha256</key>
			<string>de5b3e74c704f146c1e7fa7ab2117519f15958e74145de7a5c7426397b67ceaa</string>
			<key>size</key>
			<integer>1750</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/popt.mo</string>
			<key>mtime</key>
			<integer>1675628572</integer>
			<key>sha256</key>
			<string>389a94c0d30acc30757d4858b53279da97381325eba2dba672a347068aa6f70c</string>
			<key>size</key>
			<integer>2276</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/popt.mo</string>
			<key>mtime</key>
			<integer>1675628572</integer>
			<key>sha256</key>
			<string>d69dc309cfed038a8bbb132a3b616561e90dbdc9fae84cde408dc1f6fc0eb184</string>
			<key>size</key>
			<integer>2086</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ka/LC_MESSAGES/popt.mo</string>
			<key>mtime</key>
			<integer>1675628572</integer>
			<key>sha256</key>
			<string>24b826240e2d391ac98503a2f800572a425880d3677765fda19098240d8ae7d1</string>
			<key>size</key>
			<integer>3698</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES/popt.mo</string>
			<key>mtime</key>
			<integer>1675628572</integer>
			<key>sha256</key>
			<string>b49d5900cb86e53732ce1668f65bb09d45a839eaffbeb6eefca942db56daa7f5</string>
			<key>size</key>
			<integer>2614</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES/popt.mo</string>
			<key>mtime</key>
			<integer>1675628572</integer>
			<key>sha256</key>
			<string>e1847f6d28f6137b90af88a98f9d7ab455563aac317fd3ea7c2bde331b7d6dd5</string>
			<key>size</key>
			<integer>2347</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES/popt.mo</string>
			<key>mtime</key>
			<integer>1675628572</integer>
			<key>sha256</key>
			<string>dfa3574e7ef2b0b750d626d983c5544f473ec93be287273615baf8b5a8864270</string>
			<key>size</key>
			<integer>1718</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/popt.mo</string>
			<key>mtime</key>
			<integer>1675628572</integer>
			<key>sha256</key>
			<string>bac92c7f8724c1463462a5a8147596a17aabb1c6fac5c1f07fcd0ca3ee5faf53</string>
			<key>size</key>
			<integer>2419</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/popt.mo</string>
			<key>mtime</key>
			<integer>1675628572</integer>
			<key>sha256</key>
			<string>450704ff0aa69c37f2549e519712f4e991870f4e7c6f147113a64f4f9dfa16ed</string>
			<key>size</key>
			<integer>2471</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES/popt.mo</string>
			<key>mtime</key>
			<integer>1675628572</integer>
			<key>sha256</key>
			<string>8d43892cbab121b92f8bf569e9f71408edd81c1484aa5a46933c6d2cd67d4fa8</string>
			<key>size</key>
			<integer>2260</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/popt.mo</string>
			<key>mtime</key>
			<integer>1675628572</integer>
			<key>sha256</key>
			<string>0a4fbeced5dcb612530846723d83c58cb3cd7204f8b9ddbf96308b0516843f3a</string>
			<key>size</key>
			<integer>2414</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES/popt.mo</string>
			<key>mtime</key>
			<integer>1675628572</integer>
			<key>sha256</key>
			<string>40d04219f3365236f54bdbf0af526277e57891341df3ecae8dc25804e97d2d8e</string>
			<key>size</key>
			<integer>1053</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/popt.mo</string>
			<key>mtime</key>
			<integer>1675628572</integer>
			<key>sha256</key>
			<string>ff59a4fd10fae404ca6ed82f20fb0efa309465fd6707b8764973fb1eb6438d0e</string>
			<key>size</key>
			<integer>2829</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/si/LC_MESSAGES/popt.mo</string>
			<key>mtime</key>
			<integer>1675628572</integer>
			<key>sha256</key>
			<string>e6c11de8e7613db4c19b4203d853f2bf5f774b50fe296007d80405c035e701e8</string>
			<key>size</key>
			<integer>527</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES/popt.mo</string>
			<key>mtime</key>
			<integer>1675628572</integer>
			<key>sha256</key>
			<string>75fabe583631fcd61b393fbcee9d1c2f3e85f37e57c5505a4ecdeea23b18fbe4</string>
			<key>size</key>
			<integer>533</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES/popt.mo</string>
			<key>mtime</key>
			<integer>1675628572</integer>
			<key>sha256</key>
			<string>7b496b689806dfb637a641152eaa13f56731fc736eba66d00c74b3712b8baa2a</string>
			<key>size</key>
			<integer>533</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/popt.mo</string>
			<key>mtime</key>
			<integer>1675628572</integer>
			<key>sha256</key>
			<string>ba25c344aff66b0f811c7c5a241ab2ff6a140bf6a8a26e10bcf0d96eb5416f29</string>
			<key>size</key>
			<integer>2380</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/th/LC_MESSAGES/popt.mo</string>
			<key>mtime</key>
			<integer>1675628572</integer>
			<key>sha256</key>
			<string>30597004a2a12d69a749f6597429a8b6926199d5d150483e19dbd52b21b7ca33</string>
			<key>size</key>
			<integer>3138</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/popt.mo</string>
			<key>mtime</key>
			<integer>1675628572</integer>
			<key>sha256</key>
			<string>3b15a32cf7dcb5389a93a1680b3c29802b250755c706b08ea6479fd4c8d9f12a</string>
			<key>size</key>
			<integer>2439</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/popt.mo</string>
			<key>mtime</key>
			<integer>1675628572</integer>
			<key>sha256</key>
			<string>e612a60fd0ac11c3260e9d4721fdc7f50cc370af67a39485dcc2a2ff12939268</string>
			<key>size</key>
			<integer>3180</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES/popt.mo</string>
			<key>mtime</key>
			<integer>1675628572</integer>
			<key>sha256</key>
			<string>fa9d654dbe9c21b6c7ab3c265b40a3d147ec9f7d36888e117d76cee889f6a072</string>
			<key>size</key>
			<integer>2483</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/wa/LC_MESSAGES/popt.mo</string>
			<key>mtime</key>
			<integer>1675628572</integer>
			<key>sha256</key>
			<string>56d012b521f925998d200d29e365c78779450cdb288428693d7b1d3eb06fdbdb</string>
			<key>size</key>
			<integer>532</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/popt.mo</string>
			<key>mtime</key>
			<integer>1675628572</integer>
			<key>sha256</key>
			<string>ed160f1d1001a2602f8216ef790992f08f9cecad5ef18a03faa7a25ab618883b</string>
			<key>size</key>
			<integer>2241</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES/popt.mo</string>
			<key>mtime</key>
			<integer>1675628572</integer>
			<key>sha256</key>
			<string>0883612f5808828c58b376d4b58549afec3a39e3fc1ead33450f5f5d036ef773</string>
			<key>size</key>
			<integer>1679</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libpopt.so.0</string>
			<key>mtime</key>
			<integer>1675628572</integer>
			<key>target</key>
			<string>/usr/lib/libpopt.so.0.0.2</string>
		</dict>
	</array>
</dict>
</plist>
