<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ka</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ka/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/util-linux.mo</string>
			<key>sha256</key>
			<string>1d54bc3e2fad14d80e73e9aa63be34c3629ea738bc858f5f5caa40af11f345d3</string>
			<key>size</key>
			<integer>42372</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/util-linux.mo</string>
			<key>sha256</key>
			<string>1acd0d465521b98c476b4e266cce4c8b00c8ac4a0c9d62e1d9174c27f7c9ef2c</string>
			<key>size</key>
			<integer>617538</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/util-linux.mo</string>
			<key>sha256</key>
			<string>57bfaccfaf2c6ac73ae8f9d2f7bee6f81ac27200832044d3cfc572ca9cb25901</string>
			<key>size</key>
			<integer>391468</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/util-linux.mo</string>
			<key>sha256</key>
			<string>e75db1498e063a0935eee53eeffa7cb5b5d92668bfe607eb3e1c802f2c573a50</string>
			<key>size</key>
			<integer>624099</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/util-linux.mo</string>
			<key>sha256</key>
			<string>d7ee94a17d2a8663ad2629552d0efb2ecc88b5586edab17816b6d849d51688b8</string>
			<key>size</key>
			<integer>624296</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES/util-linux.mo</string>
			<key>sha256</key>
			<string>8dd67a11358441af02b1c3dda0eca0e050737387af2a80b57aa338aca1ba4090</string>
			<key>size</key>
			<integer>20702</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES/util-linux.mo</string>
			<key>sha256</key>
			<string>cae06c624a590a82bd77a7eb68c2fcc1ce64750180331f9510ee76555a324fc9</string>
			<key>size</key>
			<integer>19755</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/util-linux.mo</string>
			<key>sha256</key>
			<string>69c83824975c557b0174b1c5d60e996ee9776ce7f7d1aaf3de815fa2d92472a7</string>
			<key>size</key>
			<integer>79928</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/util-linux.mo</string>
			<key>sha256</key>
			<string>ce484014ec8d2675488c726cb15269f2ed040deb01781fe52eb9b61dce24ad4b</string>
			<key>size</key>
			<integer>630081</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES/util-linux.mo</string>
			<key>sha256</key>
			<string>d12c3836542ed9584437f1aef890d903f53d88130185938d445d725b2a94458a</string>
			<key>size</key>
			<integer>16182</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES/util-linux.mo</string>
			<key>sha256</key>
			<string>c2ca032d85cb5da8e855a58240e31fd25474c3de4ec63a62bb9eba5ee9366aac</string>
			<key>size</key>
			<integer>603477</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/util-linux.mo</string>
			<key>sha256</key>
			<string>b88a77730d072166f9b2bc66da2158a26fc540e3e19fe1edb70e48115c3fd7e3</string>
			<key>size</key>
			<integer>39391</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES/util-linux.mo</string>
			<key>sha256</key>
			<string>8ff9be9ce70e5014e5dc98c1c33cf80c6653be494c9529151e3001b4e346d436</string>
			<key>size</key>
			<integer>42927</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/util-linux.mo</string>
			<key>sha256</key>
			<string>686b45d50cfc6b75ca52fe729e76359afb56e085b8fada2f71766112bdc007a9</string>
			<key>size</key>
			<integer>31672</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/util-linux.mo</string>
			<key>sha256</key>
			<string>f0e1a35f25e995daea6fff4c5b28257bdf41b52756038aef9591e870e3dde1c1</string>
			<key>size</key>
			<integer>683098</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ka/LC_MESSAGES/util-linux.mo</string>
			<key>sha256</key>
			<string>1181ceecdf8687c197db82ee12dddcec5505f0da218126e09ae74e665e314eab</string>
			<key>size</key>
			<integer>56303</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES/util-linux.mo</string>
			<key>sha256</key>
			<string>a315ca81c4d5c0b086af6a57dc6de129b2f5822096de0898c0017ee721ea375e</string>
			<key>size</key>
			<integer>618265</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/util-linux.mo</string>
			<key>sha256</key>
			<string>01c03d6e845ab4e26c1b4a295e66d696998ae4d589a90bb8c45778d56b6624b3</string>
			<key>size</key>
			<integer>570340</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/util-linux.mo</string>
			<key>sha256</key>
			<string>97bd094401498cc61163d0317c08d7973213195f6f9c20e4f5cc9c6fdd8200df</string>
			<key>size</key>
			<integer>609698</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES/util-linux.mo</string>
			<key>sha256</key>
			<string>6d4225c40375424eeaf2453b32a2bfc16d67ec14258108b71727b010aaf32863</string>
			<key>size</key>
			<integer>570708</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/util-linux.mo</string>
			<key>sha256</key>
			<string>3dacc48db632c7c92a0c8867957850d7aa2eda7611e2a3d1b8770fd3b0d4276e</string>
			<key>size</key>
			<integer>506748</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES/util-linux.mo</string>
			<key>sha256</key>
			<string>57a008b246a91e92c9204fe0918bc0a87ffbf1fa6f4f9d42499d16d12febc51f</string>
			<key>size</key>
			<integer>641341</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/util-linux.mo</string>
			<key>sha256</key>
			<string>65e388f10a800801d080bbeb7a8f62705608838e8a43475e8898ed5d5c6de5f3</string>
			<key>size</key>
			<integer>196987</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES/util-linux.mo</string>
			<key>sha256</key>
			<string>dbf9b29a78accb060cd4cfd57d8c06f269a6485aa74c45cab2388ab3210284e2</string>
			<key>size</key>
			<integer>80068</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES/util-linux.mo</string>
			<key>sha256</key>
			<string>32147e3e5dd3b5b2b2c5387d5aaa231b65cf9075b038836b845a91e095480200</string>
			<key>size</key>
			<integer>31069</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES/util-linux.mo</string>
			<key>sha256</key>
			<string>7823f4b50ed459df2d2841ee1f321e8b2599369eb9622b40e188b7ad106c08ad</string>
			<key>size</key>
			<integer>751549</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/util-linux.mo</string>
			<key>sha256</key>
			<string>961c76046ce29fb798d9bf5dddf9ac594e3455079d703541ead1d4a9dbab16ee</string>
			<key>size</key>
			<integer>434966</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/util-linux.mo</string>
			<key>sha256</key>
			<string>c2bc77df0981f64f7b6b7b0bd26bf69afb3602374270cf85eaf90becdee5ed3f</string>
			<key>size</key>
			<integer>341667</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/util-linux.mo</string>
			<key>sha256</key>
			<string>d07d2483bf45fed92a05446c19dc37baadb62f7bceaaba76ad18d8630a2f41c0</string>
			<key>size</key>
			<integer>784653</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES/util-linux.mo</string>
			<key>sha256</key>
			<string>d71f947d6853709b247acc1ee7eb5263608dbe4cc5a9ae63999ef496a3df7b4f</string>
			<key>size</key>
			<integer>310555</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/util-linux.mo</string>
			<key>sha256</key>
			<string>a1f9992e3c4131c779411ab52da61c7cfd8b32643e6a6a4295303feeb685a358</string>
			<key>size</key>
			<integer>384802</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES/util-linux.mo</string>
			<key>sha256</key>
			<string>6deb0385d99edf19770095049a0a11aa622c26a0a8dd6cda3130d7c9c0fdb48d</string>
			<key>size</key>
			<integer>47337</integer>
		</dict>
	</array>
</dict>
</plist>
